@{
    ViewBag.Title = "IndividualQuest";
}

@model JustPressPlay.ViewModels.QuestViewModel


<div id="headerSection">
    <div class="row">


        <div class="large-4 columns">
            <div class="largePhoto">
                <img src="@Url.Content(Model.Image)"/>
            </div>
        </div>

        <div class="large-6 columns">
            <h1>@Model.Title</h1>
            <p>@Model.Description</p>
            @if (@Model.Threshold < 2)
            {
                <h4>Get this achievement:</h4>
            }
            else
            {
                <h4>Get @Model.Threshold of these achievements:</h4>
            }
            
            <ul class="small-block-grid-4 large-block-grid-4 imageList">
				@if(Model.Achievements != null )
				{
					foreach (JustPressPlay.ViewModels.QuestViewModel.AssociatedAchievement achievement in Model.Achievements)
					{
						<li><a href="@Url.Action( "" + achievement.ID, "Achievements" )"><img src="@Url.Content(achievement.Image)"/><p>@achievement.Title</p></a></li>
					}
				}
            </ul>
                
        </div>

        <div id="quadView" class="large-2 columns">
			@if (Model.Tracking)
			{
				<a href="#" class="button secondary radius expand tiny">Untrack Quest</a>
				using (Html.BeginForm("Untrack", "Quests", FormMethod.Post))
				{
					<input type="hidden" name="id" value="@Model.ID" />
					<input type="submit" value="UNTRACK" />
				}
			}
			else
			{
				<a href="#" class="button secondary radius expand tiny">Track Quest</a>
				using (Html.BeginForm("Track", "Quests", FormMethod.Post))
				{
					<input type="hidden" name="id" value="@Model.ID" />
					<input type="submit" value="TRACK" />
				}
			}
            <a href="#" class="button secondary radius expand tiny">Share this Page</a>
        </div>


    </div>
</div>

<div id="lowerBody">
    <div class="row">
        <div class="large-8 columns push-4">

            <div id="questTimeline"></div>

            @*
            <div id="loadQuestsHere">

                @if (@Model.Progress != null && @Model.Progress.CompletionDate != null)
                {
                    <h5>
                        @if( @WebSecurity.CurrentUserId == @Model.Progress.UserID )
                        {
                            <span>YOU</span>
                        }
                        else
                        {
                            @Model.Progress.UserID   
                        }
                        FINISHED THIS QUEST ON @Model.Progress.CompletionDate
                    </h5>
                }
                else if (@Model.Progress != null && @Model.Progress.CompletionDate == null)
                {
                    <h5>
                        @if( @WebSecurity.CurrentUserId == @Model.Progress.UserID )
                        {
                            <span>YOU HAVEN'T</span>
                        }
                        else
                        {
                            <span>@Model.Progress.UserID Hasn't</span>
                        }
                        FINISHED THIS QUEST
                    </h5>
                }
                else
                {
                    <h5>
                        @if( @WebSecurity.CurrentUserId == @Model.Progress.UserID )
                        {
                            <span>YOU HAVEN'T</span>
                        }
                        else
                        {
                            <span>@Model.Progress.UserID Hasn't</span>
                        }
                        STARTED THIS QUEST
                    </h5>
                }

                @if (Model.Progress != null)
                {
                    if( Model.Progress.AchievementsEarned != null )
				    {
					    foreach (JustPressPlay.ViewModels.EarningsViewModel.Earning earning in Model.Progress.AchievementsEarned.Earnings)
					    {
                            <div id="@earning.Achievement.ID" class="questAchievementImageStatus">
                                <a href="@Url.Action( "" + earning.Achievement.ID, "Achievements" )">
                                    <img src="@Url.Content(earning.Achievement.Image)"/>
                                    <p>@earning.EarnedDate</p>
                                </a>
                            </div>
                        }
				    }
                    if( Model.Progress.AchievementsNotEarned != null )
					{
						foreach (JustPressPlay.ViewModels.AchievementViewModel achievement in Model.Progress.AchievementsNotEarned.Achievements)
						{
							<div class="questAchievementImageStatus">
                                <a href="@Url.Action( "" + achievement.ID, "Achievements" )">
                                    <img src="@Url.Content(achievement.Image)"/>
                                    <p>--/--</p>
                                </a>
                            </div>
                        }
					}
                }


                <div id="questTimeline"></div>

                
            </div>
            *@
        </div>

        <div id="lowerBodySidebar" class="large-4 columns pull-8">
            @if ( WebSecurity.IsAuthenticated )
            {
                <div class="panel gridContainer">
                    <h4>YOU</h4>

                    <ul class="small-block-grid-4 imageList">
                        <li class="playerSelector" data-userID="@WebSecurity.CurrentUserId">
                            <a href="#@WebSecurity.CurrentUserId" title="@WebSecurity.CurrentUserName">
                            @if (!String.IsNullOrWhiteSpace(ViewBag.userImageSmall))
                            {
                                
                                <img src="@Url.Content(ViewBag.userImageSmall)" />
                                @*<img src="@Url.Content(ViewBag.user.Image)" />*@
                            }
                            else
                            {
                                <img src="@Url.Content("~/Content/Images/Jpp/defaultProfileAvatar.png")" />
                            }
                            </a>
                            
                        </li>

                        <li class="playerSelector" data-userID="public">
                            <a href="#public" title="Public Earnings">
                                <img src="@Url.Content("~/Content/Images/Jpp/defaultProfileAvatar.png")" />
                            </a>
                            
                        </li>
                    </ul>
                </div>
            }

            <input type="text" placeholder="Search People..." />

            
            @if (WebSecurity.IsAuthenticated)
            {
                <div class="panel">
                    <div id="friendsList"></div>
                </div>
            }

            <div class="panel">
                <div id="publicList"></div>
            </div>
            

            <footer class="small">

                @{ Html.RenderPartial("_Footer"); }

            </footer>

        </div> <!-- END lowerBodySidebar -->

    </div>
</div>


<script src="@Url.Content("~/Content/js/plugin/jquery.jpptimeline.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/plugin/jquery.jppimagelist.js")" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        
        var url = '@Request.Url.GetLeftPart(UriPartial.Authority)';

        $('#questTimeline').jpptimeline({
            baseURL: url,
            userID: '@WebSecurity.CurrentUserId',
            questID: '@Model.ID',
            dynamicUser: true
        });

        $('#friendsList').jppimagelist({
            baseURL: url,
            userID: '@WebSecurity.CurrentUserId',
            questID: '@Model.ID',
            playerList: true,
            includeText: false,
            showHeading: true,
            friendsWith: true,
            scroll: true
        });

        $('#publicList').jppimagelist({
            baseURL: url,
            userID: '@WebSecurity.CurrentUserId',
            questID: '@Model.ID',
            playerList: true,
            includeText: false,
            showHeading: true,
            friendsWith: false,
            scroll: true
        });
    });
</script>
