@{
    ViewBag.Title = "IndividualQuest";
}

@model JustPressPlay.ViewModels.QuestViewModel


<div id="headerSection">
    <div class="row">


        <div class="large-4 columns">
            <div class="largePhoto">
                <img src="@Url.Content(Model.Image)"/>
            </div>
        </div>

        <div class="large-6 columns">
            <h1>@Model.Title</h1>
            <p>@Model.Description</p>
            @if (@Model.Threshold < 2)
            {
                <h4>Get this achievement:</h4>
            }
            else
            {
                <h4>Get @Model.Threshold of these achievements:</h4>
            }
            
            <ul class="small-block-grid-4 large-block-grid-4 imageList">
				@if(Model.Achievements != null )
				{
					foreach (JustPressPlay.ViewModels.QuestViewModel.AssociatedAchievement achievement in Model.Achievements)
					{
						<li><a href="@Url.Action( "" + achievement.ID, "Achievements" )"><img src="@Url.Content(achievement.Image)"/><p>@achievement.Title</p></a></li>
					}
				}
            </ul>
                
        </div>

        <div id="quadView" class="large-2 columns">
			@if (Model.Tracking)
			{
				<a href="#" class="button secondary radius expand tiny">Untrack Quest</a>
				using (Html.BeginForm("Untrack", "Quests", FormMethod.Post))
				{
					<input type="hidden" name="id" value="@Model.ID" />
					<input type="submit" value="UNTRACK" />
				}
			}
			else
			{
				<a href="#" class="button secondary radius expand tiny">Track Quest</a>
				using (Html.BeginForm("Track", "Quests", FormMethod.Post))
				{
					<input type="hidden" name="id" value="@Model.ID" />
					<input type="submit" value="TRACK" />
				}
			}
            <a href="#" class="button secondary radius expand tiny">Share this Page</a>
        </div>


    </div>
</div>

<div id="lowerBody">
    <div class="row">
        <div class="large-8 columns push-4">

            <h3>Public Earnings</h3>

            <div id="earning-feed" class="earningFeed">
                <div data-bind="template: { name: 'earning-wide-template', foreach: earnings }">
                </div>

                <div class="bottom">
                    <div class="spinner" style="display: none;"></div>
                    <div class="endOfFeed" style="display: none;">
                        <h6>End of Feed</h6>
                        <div></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="large-4 columns pull-8">
            <h3>Your Stuffs</h3>

            <input type="text" placeholder="Search People..." />
            

            <footer class="small">

                @{ Html.RenderPartial("_Footer"); }

            </footer>

        </div>

    </div>
</div>

<div id="earning-fullscreen" data-bind="visible: fullscreenEarningVisible()">
    <div class="shades" data-bind="click: closeFullscreenEarning"></div>
    <div class="fullscreen-earning-container" data-bind="style: { top: scrolledHeight() + 'px' }, template: { name: 'earning-fullscreen-template', data: currentEarning }">
    </div>
</div>

@{ Html.RenderPartial("_EarningTemplates"); }
<script src="@Url.Content("~/Content/js/plugin/jquery.jpptimeline.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/plugin/jquery.jppimagelist.js")" type="text/javascript"></script>
<script>

    var settings = {
        questID: '@Model.ID'
    };
    ko.applyBindings(new EarningListViewModel(settings), document.getElementById('earning-feed'));
    ko.applyBindings(new ShareEarningViewModel, document.getElementById('earning-fullscreen'));

    $(document).ready(function () {
        
        var url = '@Request.Url.GetLeftPart(UriPartial.Authority)';

        /*
        $('#questTimeline').jpptimeline({
            baseURL: url,
            userID: 'WebSecurity.CurrentUserId',
            questID: 'Model.ID',
            dynamicUser: true
        });*/

        $('#friendsList').jppimagelist({
            baseURL: url,
            userID: '@WebSecurity.CurrentUserId',
            questID: '@Model.ID',
            playerList: true,
            includeText: false,
            showHeading: true,
            friendsWith: true,
            scroll: true
        });

        $('#publicList').jppimagelist({
            baseURL: url,
            userID: '@WebSecurity.CurrentUserId',
            questID: '@Model.ID',
            playerList: true,
            includeText: false,
            showHeading: true,
            friendsWith: false,
            scroll: true
        });
    });
</script>
