@{
	ViewBag.Title = "ForgotPassword";
}

@model JustPressPlay.ViewModels.ForgotPasswordViewModel

<h2>ForgotPassword</h2>

@if (ViewBag.EmailSent)
{
	@:The password reset email has been sent. Check your email for further instructions.
}
else
{
	using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()
		@Html.ValidationSummary()
	
		<fieldset>
			<legend>Forgot Password</legend>
			<ol>
				<li>
					@Html.LabelFor(m => m.Email)
					@Html.TextBoxFor(m => m.Email)
					@Html.ValidationMessageFor(m => m.Email)
				</li>
			</ol>

			<input type="submit" value="Send Email" />
		</fieldset>
	}
}