@{
    ViewBag.Title = "Login";
}

@model JustPressPlay.ViewModels.LoginViewModel


<div id="lowerBody">

    <div class="row">

        <div class="large-4 columns large-centered panel">

            <h2>Login</h2>

            @using (Html.BeginForm()) 
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)


                @Html.LabelFor(m => m.Username)
                @Html.TextBoxFor(m => m.Username, new { @placeholder = "Username" })
                @Html.ValidationMessageFor(m => m.Username)

                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password)

                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })

                <input type="submit" value="Login" />

                <p>
                    @Html.ActionLink("Register", "Register") if you don't have an account.
		            @Html.ActionLink("Forgot Password?", "ForgotPassword")
                </p>
            }
        </div>
    </div>
</div>