@{
    ViewBag.Title = "Profile";
}

@model JustPressPlay.ViewModels.ProfileViewModel


<div id="headerSection">
    <div class="row">


        <div class="large-2 columns">
            <div id="mainImageContainer">
                @if (!@Model.Image.IsEmpty())
                {
                    <img src="@Url.Content(@Model.Image)" />
                }
                else
                {
                    <img src="@Url.Content("~/Content/Images/Jpp/defaultProfileAvatar.png")" />
                }
            </div>
            @if ( @Model.FriendStatus == JustPressPlay.ViewModels.ProfileViewModel.FriendshipStatus.SameUser)
            {
                <a href="#" class="button secondary radius expand tiny">Edit Profile</a>
            }
			else if (@Model.FriendStatus == JustPressPlay.ViewModels.ProfileViewModel.FriendshipStatus.Friends)
			{
				<a href="#" class="button secondary radius expand tiny">You Are Friends</a>
				using (Html.BeginForm("RemoveFriend", "Players", FormMethod.Post))
				{
					<input type="hidden" name="id" value="@Model.ID" />
					<input type="submit" class="button secondary radius expand tiny" value="TESTING - REMOVE FRIEND" />
				}
			}
			else if (@Model.FriendStatus == JustPressPlay.ViewModels.ProfileViewModel.FriendshipStatus.NotFriends)
            {
                <a href="#" class="button secondary radius expand tiny">Send Friend Request</a>
                using (Html.BeginForm("AddFriend", "Players", FormMethod.Post))
                {
					<input type="hidden" name="id" value="@Model.ID" />
					<input type="submit" class="button secondary radius expand tiny" value="TESTING - ADD FRIEND" />
                }
            }
			else if (@Model.FriendStatus == JustPressPlay.ViewModels.ProfileViewModel.FriendshipStatus.PendingRequestSent)
			{
				<a href="#" class="button secondary radius expand tiny disabled">Friend Request Sent</a>
			}
			else if (@Model.FriendStatus == JustPressPlay.ViewModels.ProfileViewModel.FriendshipStatus.PendingRequestReceived)
			{
				<a href="#" class="button secondary radius expand tiny">Pending Friend Request - Respond?</a>
			}

            <a href="#" class="button secondary radius expand tiny">Share this Page</a>
        </div>
        <div class="large-6 columns">
            <h1>@Model.DisplayName</h1>
            <h4>(@Model.FirstName @Model.LastName)</h4>
            <h2>@Model.SixWordBio</h2>
            <p>@Model.FullBio</p>
        </div>
        <div class="large-4 columns">
            <div id="profileQuad"></div>
        </div>


    </div>
</div>

<div id="lowerBody">
        <div class="row">
            <div class="large-8 columns">
                
                @if (@WebSecurity.CurrentUserId == @Model.ID)
				{
                    <h3>Your Timeline</h3>
				}
				else
				{
                    <h3>@Model.DisplayName's Timeline</h3>
				}

                <div id="profileFeed" class="timelineFeed">  

                  

                <div id="loading" class="spinner"></div>

                <div class="endOfFeed">
                    <h6>End of feed</h6>
                </div>

            </div>

            <div id="lowerBodySidebar" class="large-4 columns">
                @if (@WebSecurity.CurrentUserId == @Model.ID)
				{
                    <h3>Your Collections</h3>
				}
				else
				{
                    <h3>@Model.DisplayName's Collections</h3>
				}

                <div class="content">

                    <h4>QUESTS<span> - ??</span></h4>
                    <div class="gridContainer">
                        <ul id="profileQuestList" class="small-block-grid-4 imageList scroll">
                          @*  @foreach (JustPressPlay.ViewModels.QuestViewModel quest in Model.Quests.Quests)
							{
				                <li><a href="@Url.Action("IndividualQuest", "Quests", new { id = quest.ID })" title="@quest.Title"><img src="@Url.Content(quest.Image)"/></a></li>
							}*@
                        </ul>
                    </div>


                    <h4>ACHIEVEMENTS<span> - ?? </span></h4>
                    <div class="gridContainer">
                        <ul id="profileAchievementList" class="small-block-grid-4 imageList scroll">
                           @* @foreach (JustPressPlay.ViewModels.AchievementViewModel achievement in Model.Achievements.Achievements)
							{
                                <li><a href="@Url.Action("IndividualAchievement", "Achievements", new { id = achievement.ID })" title="@achievement.Title"><img src="@Url.Content(achievement.Image)"/></a></li>
							}*@
                        </ul>
                    </div>


                    <h4>FRIENDS<span> - ??</span></h4>
                    <div class="gridContainer">
                        <ul id="profileFriendsList" class="small-block-grid-4 imageList scroll">
                           @* @foreach (JustPressPlay.ViewModels.PlayersListViewModel.PlayersListEntry player in Model.Friends.People)
							{
				                <li>
					                <a href="@Url.Action("Profile", new { id = player.ID })" title="@player.DisplayName">
						                @if (player.Image != null)
					  { <img src="@Url.Content(player.Image)" /> }
					  else
					  { <img src="@Url.Content("~/Content/Images/Jpp/defaultProfileAvatar.png")" /> }
						                <!--@player.DisplayName (@player.FirstName @player.MiddleName @player.LastName)-->
					                </a>
				                </li>
							}*@
                        </ul>
                    </div>

                </div>
                <footer class="small">

                    @{ Html.RenderPartial("_Footer"); }

                </footer>

            </div> <!-- END lowerBodySidebar -->

        </div>
    </div>


<script src="@Url.Content("~/Content/js/plugin/jquery.jppquad.js")" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('#profileQuad').jppquad({
            thresholds: {
                0: 25,
                1: 50,
                2: 75
            },
            maxThreshold: 100,
            createPoints: '@Model.PointsCreate',
            learnPoints: '@Model.PointsLearn',
            explorePoints: '@Model.PointsExplore',
            socializePoints: '@Model.PointsSocialize'
        });
    });
</script>