@{
    ViewBag.Title = "Profile";
}

@model JustPressPlay.ViewModels.ProfileViewModel

<div id="headerSection">
    <div class="row">

        <div class="large-2 columns">
            <div id="mainImageContainer">
                @if (!@Model.Image.IsEmpty())
                {
                    <img src="@Url.Content(@Model.Image)" />
                }
                else
                {
                    <img src="@Url.Content("~/Content/Images/Jpp/defaultProfileAvatar.png")" />
                }
            </div>
            @if (@Model.FriendStatus == JustPressPlay.ViewModels.ProfileViewModel.FriendshipStatus.SameUser)
            {
                <a href="#" class="button secondary radius expand tiny">Edit Profile</a>
            }
            else if (@Model.FriendStatus == JustPressPlay.ViewModels.ProfileViewModel.FriendshipStatus.Friends)
            {
				<a href="#" class="button secondary radius expand tiny">You Are Friends</a>
                using (Html.BeginForm("RemoveFriend", "Players", FormMethod.Post))
                {
					<input type="hidden" name="id" value="@Model.ID" />
					<input type="submit" class="button secondary radius expand tiny" value="TESTING - REMOVE FRIEND" />
                }
            }
            else if (@Model.FriendStatus == JustPressPlay.ViewModels.ProfileViewModel.FriendshipStatus.NotFriends)
            {
                <a href="#" class="button secondary radius expand tiny">Send Friend Request</a>
                using (Html.BeginForm("AddFriend", "Players", FormMethod.Post))
                {
					<input type="hidden" name="id" value="@Model.ID" />
					<input type="submit" class="button secondary radius expand tiny" value="TESTING - ADD FRIEND" />
                }
            }
            else if (@Model.FriendStatus == JustPressPlay.ViewModels.ProfileViewModel.FriendshipStatus.PendingRequestSent)
            {
				<a href="#" class="button secondary radius expand tiny disabled">Friend Request Sent</a>
            }
            else if (@Model.FriendStatus == JustPressPlay.ViewModels.ProfileViewModel.FriendshipStatus.PendingRequestReceived)
            {
				<a href="#" class="button secondary radius expand tiny">Pending Friend Request - Respond?</a>
            }

            <a href="#" class="button secondary radius expand tiny">Share this Page</a>
            
        </div>
        <div class="large-6 columns">
            <h1>@Model.DisplayName</h1>
            <h4>(@Model.FirstName @Model.LastName)</h4>
            <h2>@Model.SixWordBio</h2>
            <p>@Model.FullBio</p>
        </div>
        <div class="large-4 columns">
            <div id="profileQuad"></div>
        </div>


    </div>
</div>

<div id="lowerBody">
        <div class="row">
            <div class="large-8 columns">
                
                @if (@WebSecurity.CurrentUserId == @Model.ID)
                {
                    <h3>Your Timeline</h3>
                }
                else
                {
                    <h3>@Model.DisplayName's Timeline</h3>
                }

                <div class="earningFeed">
                    <ul class="small-block-grid-2" data-bind="template: { name: 'earning-badge-template', foreach: earnings }">
                    </ul>

                    <div class="bottom">
                        <div class="spinner" style="display: none;"></div>
                        <div class="endOfFeed" style="display: none;">
                            <h6>End of Feed</h6>
                            <div></div>
                        </div>
                    </div>
                </div>

            </div>

            <div id="lowerBodySidebar" class="large-4 columns">
                @*
                @if (@WebSecurity.CurrentUserId == @Model.ID)
                {
                    <h3>Your Collections</h3>
                }
                else
                {
                    <h3>@Model.DisplayName's Collections</h3>
                }
                *@

                <div class="panel">
                    <div id="profileQuestList"></div>
                </div>
                    
                <div class="panel">
                    <div id="profileAchievementList"></div>
                </div>
                    
                <div class="panel">
                    <div id="profileFriendsList"></div>
                </div>

                

                <footer class="small">

                    @{ Html.RenderPartial("_Footer"); }

                </footer>

            </div> <!-- END lowerBodySidebar -->

        </div>
    </div>

@{ Html.RenderPartial("_EarningList"); }
<script src="@Url.Content("~/Content/js/plugin/jquery.jppquad.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/plugin/jquery.jppimagelist.js")" type="text/javascript"></script>
<script>


    var settings = {
        playerID: '@Model.ID'
    };
    ko.applyBindings(new EarningListViewModel(settings));

    $(document).ready(function () {

        $('#profileQuad').jppquad({
            thresholds: {
                0: 25,
                1: 50,
                2: 75
            },
            maxThreshold: 100,
            createPoints: '@Model.PointsCreate',
            learnPoints: '@Model.PointsLearn',
            explorePoints: '@Model.PointsExplore',
            socializePoints: '@Model.PointsSocialize'
        });

        var url = '@Request.Url.GetLeftPart(UriPartial.Authority)';
        
        @*
        $('#profileQuestList').jppimagelist({
            baseURL: url,
            userID: '@Model.ID',
            questList: true,
            displayListHeading: true,
            includeText: false,
            completedQuests: true,
            scroll: true
        });

        $('#profileAchievementList').jppimagelist({
            baseURL: url,
            userID: '@Model.ID',
            achievementList: true,
            displayListHeading: true,
            includeText: false,
            earned: true,
            scroll: true
        });

        $('#profileFriendsList').jppimagelist({
            baseURL: url,
            userID: '@Model.ID',
            playerList: true,
            displayListHeading: true,
            includeText: false,
            friendsWith: true,
            scroll: true
        });
        *@

    }); // End document ready



</script>