@{
	ViewBag.Title = "ForgotPassword";
}

@model JustPressPlay.ViewModels.ResetPasswordViewModel

<h2>ForgotPassword</h2>

@if (ViewBag.PasswordReset)
{
	@:Your password has been reset.  You may now log in with your new password.
}
else
{
	using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()
		@Html.ValidationSummary()
	
		@Html.HiddenFor(m => m.Token);
	
		<fieldset>
			<legend>Password Reset</legend>
			<ol>
				<li>
					@Html.LabelFor(m => m.Password)
					@Html.PasswordFor(m => m.Password)
					@Html.ValidationMessageFor(m => m.Password)
				</li>

				<li>
					@Html.LabelFor(m => m.ConfirmPassword)
					@Html.PasswordFor(m => m.ConfirmPassword)
					@Html.ValidationMessageFor(m => m.ConfirmPassword)
				</li>
			</ol>

			<input type="submit" value="Reset Password" />
		</fieldset>
	}
}