@model JustPressPlay.ViewModels.AchievementViewModel

@{
    ViewBag.Title = Model.Title;
}

<div id="headerSection">
    <div class="row">

        <div class="large-4 columns">
            <div class="icon">
                <img src="@Url.Content(Model.Image)"/>
                <p class="create-points">@Model.PointsCreate</p>
                <p class="learn-points">@Model.PointsLearn</p>
                <p class="explore-points">@Model.PointsExplore</p>
                <p class="socialize-points">@Model.PointsSocialize</p>
            </div>
        </div>
        
        <div class="large-8 columns">
            <h1>@Model.Title</h1>
            <!--<h2>Liz Lawley</h2>-->
            <p>@Model.Description</p>
            <ul>
                @foreach (String req in Model.Requirements)
			    {
				    <li>@req</li>
			    }
            </ul>
			@if( Model.Quests != null && Model.Quests.Count() > 0 )
			{
				<p>Part of
				@foreach (JustPressPlay.ViewModels.AchievementViewModel.AssociatedQuest quest in Model.Quests)
				{
					<a href="@Url.Action("IndividualQuest", "Quests", new { id = quest.ID })">@quest.Title</a>
				}
				</p>
			}
        </div>
        <!--
        <div class="large-2 columns">
            <div id="quadView"></div>
            <a href="#" class="button secondary radius expand tiny">Share this Page</a>
        </div>
            -->


    </div>
</div>
    

<div id="lowerBody">
    <div class="row">

        <div class="large-4 columns">

            @if (WebSecurity.IsAuthenticated)
            {
                <div class="jpp-panel">

                    @if (Model.CurrentUserPendingSubmission)
                    {
                        <h3>Thank you!</h3>
                        <p>Your submission is currently in our list of things to look at. We'll notify you when we update it.</p>
                    }
                    else if (Model.SubmissionType != null)
                    {   // Current user does not have the achievement and it is a submission type
                        <h3>Submission Form</h3>
                        <div id="user-submission-thank-you">
                            <p>Thank you for your submission! You'll be notified once we review it.</p>
                        </div>
                        <div id="user-submission-loading" class="spinner"></div>
                        
                        
                        
                        using (Html.BeginForm("UserSubmission", "Achievements", FormMethod.Post, new { enctype = "multipart/form-data", @id = "user-submission-form" }))
                        {
                       
                            @Html.AntiForgeryToken()
                            //@Html.ValidationSummary()

                            string subType;

                            //TODO: Place specific error/success messages in this switch statement
                            switch (Model.SubmissionType)
                            {
                                
                                // Image
                                case 1:
                                    subType = "image";
                                    <p>Photo Submission</p>
                                    <input name="image" type="file" class="image-input" value="Select your photo!" />
                                    break;
                                // Text
                                case 2:
                                    subType = "text";
                                    <p>Story Submission</p>
                                    <textarea name="text" placeholder="Enter your story!"></textarea>
                                    break;
                                // URL
                                case 3:
                                    subType = "url";
                                    <p>URL Submission</p>
                                    <input name="url" type="url" placeholder="Enter your url!" />
                                    break;
                                default:
                                    subType = null;

                                    break;
                            }
                                        
                            <input name="achievementID" type="hidden" value="@Model.ID" />
                            <input name="type" type="hidden" value="@subType" />
                                        
                            <input type="submit" class="small button radius expand" value ="Submit!" />

                        }
                    }
                    else if (Model.CurrentUserHasEarned)
                    {
                        <h3>Great job!</h3>
                        <p>You earned this on @Model.CurrentUserEarnedDate</p>
                    }
                    else
                    {   // Current user does not have the achievement and it is not a submission type
                        <h3>YOU AINT GOT DIS</h3>
                        <p>You haven't earned this yet! View the requirements above for information on how to get this achievement!</p>
                    }
                </div>
                
            }


            <footer class="small">

                @{ Html.RenderPartial("_Footer"); }

            </footer>

        </div> <!-- END lowerBodySidebar -->

        <div class="large-8 columns">

            <h3>Public Earnings</h3>

            <div id="earning-feed" class="earningFeed">
                <div data-bind="template: { name: 'earning-wide-template', foreach: earnings }">
                </div>

                <div class="bottom">
                    <div class="spinner" data-bind="visible: isLoading"></div>
                    <div class="endOfFeed" data-bind="visible: atEnd">
                        <h6>End of Feed</h6>
                    </div>
                    <div data-bind="visible: isEmpty">
                        <p>There's nothing here!</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div id="earning-fullscreen" data-bind="visible: fullscreenEarningVisible()">
    <div class="shades" data-bind="click: closeFullscreenEarning"></div>
    <div class="fullscreen-earning-container" data-bind="template: { name: 'earning-fullscreen-template', data: currentEarning }">
    </div>
</div>


@{ Html.RenderPartial("_EarningTemplates"); }
<script src="@Url.Content("~/Content/js/plugin/jquery.jppquad.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/plugin/jquery.jpptimeline.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/plugin/jquery.jppimagelist.js")" type="text/javascript"></script>
<script>
    var settings = {
        achievementID: '@Model.ID'
    };
    ko.applyBindings(new EarningListViewModel(settings), document.getElementById('earning-feed'));
    ko.applyBindings(new ShareEarningViewModel, document.getElementById('earning-fullscreen'));

    $(document).ready(function () {
        $('#quadView').jppquad({
            thresholds: {
                0: 2
            },
            maxThreshold: 4,
            createPoints: '@Model.PointsCreate',
            learnPoints: '@Model.PointsLearn',
            explorePoints: '@Model.PointsExplore',
            socializePoints: '@Model.PointsSocialize'
        });

        $('#user-submission-form').on('submit', function (e) {
            e.preventDefault(); // prevent native submit
            $('#user-submission-loading').show();
            $('#user-submission-form').hide();
            $(this).ajaxSubmit({
                clearForm: true,
                success: function (responseText) {
                    console.log("ResponseText: " + responseText);
                    if (responseText) {
                        $('#user-submission-thank-you').show();
                        $('#user-submission-loading').hide();
                        $('#user-submission-form').hide();
                    }
                }
            })
        });

        
    });
</script>
