@{
    ViewBag.Title = "IndividualAchievement";
}

@model JustPressPlay.ViewModels.AchievementViewModel



<div id="headerSection">
    <div class="row">

        <div class="large-4 columns">
            <div class="large-photo">
                <div class="imageContainer">
                    <div class="achievement">
                        <div class="createQuad"></div>
                        <div class="exploreQuad"></div>
                        <div class="learnQuad"></div>
                        <div class="socialQuad"></div>
                    </div>
                    @if (Model.PointsLearn > 0) { <div class="learnQuad"></div> }
                    @if (Model.PointsCreate > 0) { <div class="createQuad"></div> }
                    @if (Model.PointsExplore > 0) { <div class="exploreQuad"></div> }
                    @if (Model.PointsSocialize > 0) { <div class="socialQuad"></div> }
                    <img src="@Url.Content(Model.Image)"/>
                </div>
                
            </div>
        </div>
        
        <div class="large-6 columns">
            <h1>@Model.Title</h1>
            <!--<h2>Liz Lawley</h2>-->
            <p>@Model.Description</p>
            <ul>
                @foreach (String req in Model.Requirements)
			    {
				    <li>@req</li>
			    }
            </ul>
			@if( Model.Quests != null )
			{
				<p>Part of
				@foreach (JustPressPlay.ViewModels.AchievementViewModel.AssociatedQuest quest in Model.Quests)
				{
					<a href="@Url.Action("IndividualQuest", "Quests", new { id = quest.ID })">@quest.Title</a>
				}
				</p>
			}
        </div>
        <div class="large-2 columns">
            <div id="quadView"></div>
            <a href="#" class="button secondary radius expand tiny">Share this Page</a>
        </div>


    </div>
</div>
    

<div id="lowerBody">
    <div class="row">
        <div class="large-8 columns push-4">
            @*<h3>ACHIEVEMENT TIMELINE</h3>*@

            <div id="timelineFeed"></div>

        </div>

        <div id="lowerBodySidebar" class="large-4 columns pull-8">

            @if ( WebSecurity.IsAuthenticated )
            {
                <h3>YOU</h3>

                <ul id="youList" class="small-block-grid-4 imageList gridContainer">
                    <li class="playerSelector" data-userID="@WebSecurity.CurrentUserId">
                        <a href="#@WebSecurity.CurrentUserId" title="@WebSecurity.CurrentUserName">
                        @if (!String.IsNullOrWhiteSpace(ViewBag.userImage))
                        {
                            <img src="@Url.Content(ViewBag.user.Image)" />
                        }
                        else
                        {
                            <img src="@Url.Content("~/Content/Images/Jpp/defaultProfileAvatar.png")" />
                        }
                        </a>
                            
                    </li>
                </ul>
            }


            <input type="text" placeholder="Search People..." />

            @if (WebSecurity.IsAuthenticated)
            {
                <div id="friendsList"></div>
            }

            <div id="publicList"></div>

            <footer class="small">

                @{ Html.RenderPartial("_Footer"); }

            </footer>

        </div> <!-- END lowerBodySidebar -->

    </div>
</div>



<script src="@Url.Content("~/Content/js/plugin/jquery.jppquad.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/plugin/jquery.jpptimeline.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/plugin/jquery.jppimagelist.js")" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('#quadView').jppquad({
            thresholds: {
                0: 2
            },
            maxThreshold: 4,
            createPoints: '@Model.PointsCreate',
            learnPoints: '@Model.PointsLearn',
            explorePoints: '@Model.PointsExplore',
            socializePoints: '@Model.PointsSocialize'
        });

        var url = '@Request.Url.GetLeftPart(UriPartial.Authority)';

        $('#timelineFeed').jpptimeline({
            baseURL: url,
            userID: null,
            achievementID: '@Model.ID',
            dynamicUser: true
        });

        $('#friendsList').jppimagelist({
            baseURL: url,
            userID: '@WebSecurity.CurrentUserId',
            achievementID: '@Model.ID',
            playerList: true,
            includeText: false,
            showTitle: true,
            friendsWith: true,

        });

        $('#publicList').jppimagelist({
            baseURL: url,
            userID: '@WebSecurity.CurrentUserId',
            achievementID: '@Model.ID',
            playerList: true,
            includeText: false,
            showTitle: true,
            friendsWith: false

        });
    });
</script>
