@{
    ViewBag.Title = "IndividualAchievement";
}

@model JustPressPlay.ViewModels.AchievementViewModel



<div id="headerSection">
    <div class="row">

        <div class="large-4 columns">
            <div id="mainImageContainer" class="large-photo">
                <img src="@Url.Content(Model.Image)"/>
            </div>
        </div>
        @if(ViewBag.servername != null)
        {
            @ViewBag.servername;
        }
        <div class="large-6 columns">
            <h1>@Model.Title</h1>
            <!--<h2>Liz Lawley</h2>-->
            <p>@Model.Description</p>
            <ul>
                @foreach (String req in Model.Requirements)
			    {
				    <li>@req</li>
			    }
            </ul>
			@if( Model.Quests != null )
			{
				<p>Part of
				@foreach (JustPressPlay.ViewModels.AchievementViewModel.AssociatedQuest quest in Model.Quests)
				{
					<a href="@Url.Action("IndividualQuest", "Quests", new { id = quest.ID })">@quest.Title</a>
				}
				</p>
			}
        </div>
        <div class="large-2 columns">
            <div id="quadView"></div>
            <a href="#" class="button secondary radius expand tiny">Share this Page</a>
        </div>


    </div>
</div>
    

<div id="lowerBody">
    <div class="row">
        <div class="large-8 columns push-4">
            <h3>ACHIEVEMENT TIMELINE</h3>


            <div id="timelineFeed" class="timelineFeed">
                

                
                    
 
            </div>

            <div id="loading" class="spinner" ></div>


            <div class="endOfFeed">
                <h6>End of feed</h6>
            </div>


        </div>

        <div id="lowerBodySidebar" class="large-4 columns pull-8">

            @if ( WebSecurity.IsAuthenticated )
            {
                <h3>YOU</h3>

                <div class="gridContainer">
                    <ul id="youList" class="small-block-grid-4 imageList">
                        <li class="playerSelector" data-userID="@WebSecurity.CurrentUserId">
                            @if (!String.IsNullOrWhiteSpace(ViewBag.userImage))
                            {
                                <img src="@Url.Content(ViewBag.user.Image)" />
                            }
                            else
                            {
                                <img src="@Url.Content("~/Content/Images/Jpp/defaultProfileAvatar.png")" />
                            }
                            
                        </li>
                    </ul>
                </div>
            }


            <input type="text" placeholder="Search People..." />


            <h4>FRIENDS<span> - 13</span></h4>
            <div class="gridContainer">
                    
                <ul id="friendsList" class="small-block-grid-4 imageList scroll">
                    <li class="playerSelector" data-userID="1" title="Admin"><img src="@Url.Content("~/Content/Images/Jpp/defaultProfileAvatar.png")"/></li>
                    
                </ul>
            </div>


            <h4>PUBLIC<span> - 30</span></h4>
            <div class="gridContainer">
                    
                <ul id="publicList" class="small-block-grid-4 imageList scroll">
                    
                </ul>
            </div>

            <footer class="small">

                @{ Html.RenderPartial("_Footer"); }

            </footer>

        </div> <!-- END lowerBodySidebar -->

    </div>
</div>



<script src="@Url.Content("~/Content/js/plugin/jquery.jppquad.js")" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('#quadView').jppquad({
            thresholds: {
                0: 2
            },
            maxThreshold: 4,
            createPoints: '@Model.PointsCreate',
            learnPoints: '@Model.PointsLearn',
            explorePoints: '@Model.PointsExplore',
            socializePoints: '@Model.PointsSocialize'
        });
    });
</script>