@{
    ViewBag.Title = "IndividualAchievement";
}

@model JustPressPlay.ViewModels.AchievementViewModel

<div id="headerSection">
    <div class="row">

        <div class="large-4 columns">
            <div class="largePhoto">
                <img src="@Url.Content(Model.Image)"/>
            </div>
        </div>
        
        <div class="large-8 columns">
            <h1>@Model.Title</h1>
            <!--<h2>Liz Lawley</h2>-->
            <p>@Model.Description</p>
            <ul>
                @foreach (String req in Model.Requirements)
			    {
				    <li>@req</li>
			    }
            </ul>
			@if( Model.Quests != null && Model.Quests.Count() > 0 )
			{
				<p>Part of
				@foreach (JustPressPlay.ViewModels.AchievementViewModel.AssociatedQuest quest in Model.Quests)
				{
					<a href="@Url.Action("IndividualQuest", "Quests", new { id = quest.ID })">@quest.Title</a>
				}
				</p>
			}
        </div>
        <!--
        <div class="large-2 columns">
            <div id="quadView"></div>
            <a href="#" class="button secondary radius expand tiny">Share this Page</a>
        </div>
            -->


    </div>
</div>
    

<div id="lowerBody">
    <div class="row">
        <div class="large-8 columns push-4">

            @if (WebSecurity.IsAuthenticated)
            {
                
                if(Model.CurrentUserHasEarned)
                {   // Current user has the achievement
                    
                    <div id="loggedUserInfo" class="earned">
                    
                        <h3>Your Submission</h3>
                        <div class="timelineFeed">
                            <div class="timelinePost">
                           
                                <div class="postBody">
                                    <p style="margin: 0;">You earned this on @Model.CurrentUserEarnedDate</p>
                                </div>

                            </div>
                        </div>
                    </div>
                }
                else if (Model.SubmissionType != null)
                {   // Current user does not have the achievement and it is a submission type
                    
                    <div id="loggedUserInfo">

                        <h3>Submission Form</h3>
                        <div class="timelineFeed">
                            <div class="timelinePost">
                            
                                <div class="postBody">

                                    @using (Html.BeginForm("UserSubmission", "Achievements", FormMethod.Post, new { enctype = "multipart/form-data", @class = "contentSubmissionForm" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        //@Html.ValidationSummary()

                                        string subType;
                                        
                                        switch( Model.SubmissionType )
                                        {
                                            // Text
                                            case 0:
                                                subType = "text";
                                                <p>Story Submission</p>
                                                <textarea name="text" placeholder="Enter your story!"></textarea>
                                                break;
                                            // Image
                                            case 1:
                                                subType = "image";
                                                <p>Photo Submission</p>
                                                <input name="image" type="image" placeholder="Upload your image!" />
                                                break;
                                            // URL
                                            case 2:
                                                subType = "url";
                                                <p>URL Submission</p>
                                                <input name="url" type="url" placeholder="Enter your url!" />
                                                break;
                                            default:
                                                subType = null;

                                                break;
                                        }
                                        
                                        <input name="achievementID" type="hidden" value="@Model.ID">
                                        <input name="type" type="hidden" value="@subType">
                                        
                                        <input type="submit" class="button radius right" value ="Submit!" />

                                        @*
                                        <fieldset>
                                            <legend>Create Achievement Form</legend>
                                            <ol>
                                                <li>
                                                    @Html.LabelFor(m => m.Title)
                                                    @Html.TextBoxFor(m => m.Title)
                                                    @Html.ValidationMessageFor(m => m.Title)
                                                </li>
                                        
                                            </ol>
                                        </fieldset>
                                        *@
                                    }

                                    <!--
                                    <form class="contentSubmissionForm" action="/Achievements/Add" method="post">
                                        <input name="earningID" type="hidden" value="3330">
                                        <input name="earningIsAchievement" type="hidden" value="true">
                                        <div class="commentInput">
                                            <input name="text" type="text" placeholder="Write a comment...">

                                        </div>

                                    </form>

                                    $commentSubmit.attr('action', '/Comments/Add').attr('method', 'post');
            
            // Write comment box
            $commentSubmit.append(  '<input name="earningID" type="hidden" value="' + data.EarningID + '" />' +
                                    '<input name="earningIsAchievement" type="hidden" value="' + data.EarningIsAchievement + '" />' +
                                    /*
                                    '<div class="userPhoto hide-for-small">' +
                                        '<img src="' + settings.baseURL + '/Content/Images/Jpp/defaultProfileAvatar.png" />' +
                                    '</div>' +
                                    */
                                    '<div class="commentInput">' +
                                        '<input name="text" type="text" placeholder="Write a comment..." />' +
                                    '</div>'-->


                                    @*
                                    @using (Html.BeginForm("AddAchievement", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "parentForm" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary()

                                        <fieldset>
                                            <legend>Create Achievement Form</legend>
                                            <ol>
                                                <li>
                                                    @Html.LabelFor(m => m.Title)
                                                    @Html.TextBoxFor(m=> m.Title)
                                                    @Html.ValidationMessageFor(m => m.Title)
                                                </li>
                                        
                                            </ol>
                                        </fieldset>
                                        <input type="submit" value ="Create Achievement" />
                                    }*@
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {   // Current user does not have the achievement and it is not a submission type
                    
                    <div id="loggedUserInfo">

                        <h3>YOU AINT GOT DIS</h3>
                        <div class="timelineFeed">
                            <div class="timelinePost">
                            
                                <div class="postBody">
                                    <p style="margin: 0;">You haven't earned this yet! View the requirements above for information on how to get this achievement!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            }

            <div class="earningFeed">
                <ul class="small-block-grid-2" data-bind="template: { name: 'earning-badge-template', foreach: earnings }">
                </ul>

                <div class="bottom">
                    <div class="spinner" style="display: none;"></div>
                    <div class="endOfFeed" style="display: none;">
                        <h6>End of Feed</h6>
                        <div></div>
                    </div>
                </div>
            </div>

        </div>

        <div id="lowerBodySidebar" class="large-4 columns pull-8">

            

            @if (WebSecurity.IsAuthenticated)
            {
                <div class="panel gridContainer">
                    <h4>YOU</h4>

                    <ul class="small-block-grid-4 imageList">
                        <li class="playerSelector" data-userID="@WebSecurity.CurrentUserId">
                            <a href="#@WebSecurity.CurrentUserId" title="@WebSecurity.CurrentUserName">
                            @if (!String.IsNullOrWhiteSpace(ViewBag.userImageSmall))
                            {
                                
                                <img src="@Url.Content(ViewBag.userImageSmall)" />
                                @*<img src="@Url.Content(ViewBag.user.Image)" />*@
                            }
                            else
                            {
                                <img src="@Url.Content("~/Content/Images/Jpp/defaultProfileAvatar.png")" />
                            }
                            </a>
                            
                        </li>

                        <li class="playerSelector" data-userID="public">
                            <a href="#public" title="Public Earnings">
                                <img src="@Url.Content("~/Content/Images/Jpp/defaultProfileAvatar.png")" />
                            </a>
                            
                        </li>
                    </ul>
                </div>
            }


            <input type="text" placeholder="Search People..." />

            @if (WebSecurity.IsAuthenticated)
            {
                <div class="panel">
                    <div id="friendsList"></div>
                </div>
            }

            <div class="panel">
                <div id="publicList"></div>
            </div>


            <footer class="small">

                @{ Html.RenderPartial("_Footer"); }

            </footer>

        </div> <!-- END lowerBodySidebar -->

    </div>
</div>


@{ Html.RenderPartial("_EarningList"); }
<script src="@Url.Content("~/Content/js/plugin/jquery.jppquad.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/plugin/jquery.jpptimeline.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/plugin/jquery.jppimagelist.js")" type="text/javascript"></script>
<script>
    var settings = {
        achievementID: '@Model.ID'
    };
    ko.applyBindings(new EarningListViewModel(settings));

    $(document).ready(function () {
        $('#quadView').jppquad({
            thresholds: {
                0: 2
            },
            maxThreshold: 4,
            createPoints: '@Model.PointsCreate',
            learnPoints: '@Model.PointsLearn',
            explorePoints: '@Model.PointsExplore',
            socializePoints: '@Model.PointsSocialize'
        });

        var url = '@Request.Url.GetLeftPart(UriPartial.Authority)';

        /*
        $('#timelineFeed').jpptimeline({
            baseURL: url,
            userID: 'WebSecurity.CurrentUserId',
            achievementID: 'Model.ID',
            dynamicUser: true
        });
        */

        $('#friendsList').jppimagelist({
            baseURL: url,
            userID: '@WebSecurity.CurrentUserId',
            achievementID: '@Model.ID',
            playerList: true,
            includeText: false,
            showHeading: true,
            friendsWith: true,
            scroll: true

        });

        $('#publicList').jppimagelist({
            baseURL: url,
            userID: '@WebSecurity.CurrentUserId',
            achievementID: '@Model.ID',
            playerList: true,
            includeText: false,
            showHeading: true,
            friendsWith: false,
            scroll: true
        });
    });
</script>
