
@using System.Text.RegularExpressions

@{
    // Grabs the user information for use in the top bar
    JustPressPlay.ViewModels.LayoutViewModel userInfo = JustPressPlay.ViewModels.LayoutViewModel.Populate();
    if (WebSecurity.IsAuthenticated)
    {
        ViewBag.userImage = userInfo.Image;
        //ViewBag.userImageSmall = Regex.Replace(userInfo.Image,@"/\.([^.]+)$/", "_s.$1");
        
        //    Regex.Replace(ViewBag.user.Image,@"/\.([^.]+)$/", "_m.$1")
        //        Regex.Replace(ViewBag.user.Image,@"/\.([^.]+)$/", "_m.$1")
    }
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />

        <title>@ViewBag.Title - Just Press Play</title>

        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        
		<link href="@Url.Content("~/Content/css/fonts.css")" type="text/css" rel="stylesheet" />
		<link href="@Url.Content("~/Content/css/select2.css")" type="text/css" rel="stylesheet" />
        <link href="@Url.Content("~/Content/css/foundation.min.css")" type="text/css" rel="stylesheet" />
        <link href="@Url.Content("~/Content/css/jppstyle.min.css")" type="text/css" rel="stylesheet" />

        @if (ViewBag.FacebookMetaEnabled != null && ViewBag.FacebookMetaEnabled == true)
        {
            <meta property="fb:app_id" content="@ViewBag.FacebookAppId">
            <meta property="og:url" content="@ViewBag.FacebookOgUrl">
            <meta property="og:type" content="@ViewBag.FacebookOgType">
            <meta property="og:title" content="@ViewBag.FacebookOgTitle">
            <meta property="og:image" content="@ViewBag.FacebookOgImageUri">
            <meta property="og:description" content="@ViewBag.FacebookOgDescription">
        }


        
        @Scripts.Render("~/bundles/modernizr")

        <script src="@Url.Content("~/Content/js/vendor/jquery2.0.2.js")" type="text/javascript"></script>

            
    </head>
    <body>


        <div id="navigation" class="contain-to-grid fixed">
            <nav class="top-bar">
                <ul class="title-area">
                    <!-- Title Area -->
                    <li class="name">
                        <h1><a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/Content/Images/Jpp/logo.png")" style="margin-top: -5px;" /></a></h1>
                    </li>
                    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                </ul>

                <section class="top-bar-section">

                    @if (WebSecurity.IsAuthenticated)
                    {
                        <!-- Left Nav Section -->
                        <ul class="left">
                            <li class="divider hide-for-medium-up"></li>
                            <li>@Html.ActionLink("Quests", "Index", "Quests")</li>
                            <li class="divider hide-for-medium-up"></li>
                            <li>@Html.ActionLink("Achievements", "Index", "Achievements")</li>
                            <li class="divider hide-for-medium-up"></li>
                            <li>@Html.ActionLink("People", "Index", "Players")</li>
                            <li class="divider hide-for-medium-up"></li>
                        </ul>

                        <!-- Right Nav Section -->
                        <ul class="right">
                            <li>@Html.ActionLink(WebSecurity.CurrentUserName, "Profile", "Players", new { id = WebSecurity.CurrentUserId }, null)</li>
                            <li class="divider hide-for-medium-up"></li>
                            <li><a href="#" data-dropdownid="qrcodeDrop"><div aria-hidden="true" class="jppico-qrcode"></div><span class="hide-for-medium-up">PlayPass</span></a></li>
                            <li class="divider hide-for-medium-up"></li>
                            <li><a href="#" data-dropdownid="notificationDrop"><div aria-hidden="true" class="jppico-bullhorn"></div><span class="hide-for-medium-up">Notifications</span></a></li>
                            <li class="divider hide-for-medium-up"></li>
                            <li><a href="#" data-dropdownid="settingsDrop"><div aria-hidden="true" class="jppico-cog"></div><span class="hide-for-medium-up">Settings</span></a></li>
                        </ul>

                        <div id="qrcodeDrop" class="dropdownContainer">
                            <div class="title">
                                <p>PlayPass</p>
                            </div>

                            <div class="content">
                                <div id="qrcodeCanvas"></div>
                            </div>
                    
                        </div>

                        <div id="notificationDrop" class="dropdownContainer">
                            <div class="title">
                                <p>Inbox (0)</p>
                            </div>

                            <div class="content dropdownScroll">
								@if (userInfo != null && userInfo.Notifications != null)
        {
            foreach (JustPressPlay.ViewModels.LayoutNotification notify in userInfo.Notifications)
            {
                if (notify.Ignored) { continue; }
										
										<a class="item" href="#">
											<div class="itemPhoto">
												@if (String.IsNullOrWhiteSpace(notify.Icon))
            {
													<img src="images/people/1.png" /> <!-- Default image here? -->
            }
            else
            {
													<img src="@Url.Content(notify.Icon)" />
            }
											</div>
											<div class="itemText">
												<p>
													@Html.Raw(notify.Message.Replace("[", "<span>").Replace("]", "</span>"))
													@if (notify.Type == JustPressPlay.ViewModels.LayoutNotification.NotificationType.FriendRequest)
             {
                 using (Html.BeginForm("AcceptFriendRequest", "Players", FormMethod.Post))
                 {
															<input type="hidden" name="id" value="@notify.SourceID" />
															<input type="submit" value="Accept" />
                 }
                 using (Html.BeginForm("IgnoreFriendRequest", "Players", FormMethod.Post))
                 {
															<input type="hidden" name="id" value="@notify.SourceID" />
															<input type="submit" value="Ignore" />
                 }
                 using (Html.BeginForm("DeclineFriendRequest", "Players", FormMethod.Post))
                 {
															<input type="hidden" name="id" value="@notify.SourceID" />
															<input type="submit" value="Decline" />
                 }
             }
												</p>
											</div>
										</a>
            }

            if (userInfo.Notifications.Count <= 0)
            {
                                        <div class="item"><div class="itemText">
                                            <p>There's nothing here!</p>
                                        </div></div>
            }

        }
        else
        {
                                    <div class="item"><div class="itemText">
                                        <p>There's nothing here!</p>
                                    </div></div>
        }

                                <!--
                                <a class="item" href="#">
                                    <div class="itemPhoto">
                                        <img src="images/people/0.png" />
                                    </div>
                                    <div class="itemText">
                                        <p><span>Ben Snyder</span> accepted your friend request.</p>
                                    </div>
                                </a>
                                -->
                            </div>
                    
                        </div>

                        <div id="settingsDrop" class="dropdownContainer">
                            <div class="title">
                                <p>Settings</p>
                            </div>
                            <div class="content">
                                <a class="item" href="@Url.Action("Index", "Settings")">
                                    <div class="itemText">
                                        <p>Account Settings</p>
                                    </div>
                                </a>

                                @if (Roles.GetRolesForUser().Length > 0)
                                {
                                    
                                    <a class="item" href="@Url.Action("Index", "Admin")">
                                        <div class="itemText">
                                            <p>Admin Panel</p>
                                        </div>
                                    </a>
                                }

                                <a class="item" href="javascript:document.getElementById('logoutForm').submit()">
                                    <div class="itemText">
                                        <p>Logout</p>
                                    </div>
								</a>

                                @using (Html.BeginForm("Logout", "Players", FormMethod.Post, new { id = "logoutForm" }))
                                {
									@Html.AntiForgeryToken()
									
                                }

                            </div>
                        </div>

                    }
                    else
                    {
                        <ul class="right">
                            <li>@Html.ActionLink("Register", "Register", "Players", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
							<li>@Html.ActionLink("Login", "Login", "Players", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                        </ul>
                    }
                        
                </section>
            </nav>
        </div>

        @RenderBody()


        <!--@Scripts.Render("~/bundles/jquery")-->
        <script src="@Url.Content("~/Content/js/plugin/fastclick.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Content/js/plugin/jquery.slimscroll.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Content/js/plugin/select2.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Content/js/plugin/qrcode.js")" type="text/javascript"></script>
        
        <!--<script src="@Url.Content("~/Content/js/plugin/jquery.qrcode.min.js")" type="text/javascript"></script>-->
        <script src="@Url.Content("~/Content/js/jscripts.js")" type="text/javascript"></script>
        
        <!--<script src="@Url.Content("~/Content/js/foundation/foundation.min.js")" type="text/javascript"></script>-->
        <script src="@Url.Content("~/Content/js/foundation/foundation.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Content/js/foundation/foundation.topbar.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Content/js/foundation/foundation.orbit.js")" type="text/javascript"></script>

        <script>
            $(document).foundation('topbar');

            $(document).foundation('orbit', {
                animation: 'fade',
                timer_speed: 0,
                pause_on_hover: true,
                resume_on_mouseout: false,
                animation_speed: 100,
                stack_on_small: true,
                navigation_arrows: true,
                slide_number: false,
                bullets: true,
                timer: false,
                variable_height: false
            });
        </script>

        @* Add QR Code only if a user is logged in *@
        @if (WebSecurity.IsAuthenticated)
        {
        <script>
            var url = '@Request.Url.GetLeftPart(UriPartial.Authority)' + "/Players/" + '@WebSecurity.CurrentUserId';

            // Add ready here
            $('#qrcodeCanvas').html( create_qrcode( url ) );
        </script>
        }
    </body>
</html>
