@if (Request.IsAuthenticated) {
    <text>
        @*Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!*@
		Hello, @User.Identity.Name
        @using (Html.BeginForm("Logout", "Players", FormMethod.Post, new { id = "logoutForm" }))
		{
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
        }
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("JPP Register", "Register", "Players", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("JPP Login", "Login", "Players", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
