@{
	ViewBag.Title = "EditUser";
}
@model JustPressPlay.ViewModels.EditUserViewModel


<div id="adminBody">

    <div class="row wide">

        <div class="large-3 columns">

            @{ Html.RenderPartial("_AdminNavigation"); }

        </div>

        <div class="large-9 columns">
             @using (Html.BeginForm())
                {
	                @Html.AntiForgeryToken()
	                @Html.ValidationSummary()
	                @Html.HiddenFor(m => m.ID)
            <div class="panel">
                <h2>Edit User</h2>

                @if (ViewBag.Message != null)
                {
	                @ViewBag.Message<br />
	                <br />
                }

               

                    <div class="row collapse">
                           <div class="small-3 large-2 columns">
                                <span class="prefix">@Html.LabelFor(m => m.DisplayName)</span>
                            </div>
                            <div class="small-9 large-10 columns">
                                @Html.TextBoxFor(m => m.DisplayName)
				                @Html.ValidationMessageFor(m => m.DisplayName)
                            </div>
                    </div>
                    
                    <div class="row collapse">
                           <div class="small-3 large-2 columns">
                                <span class="prefix">@Html.LabelFor(m => m.FirstName)</span>
                            </div>
                            <div class="small-9 large-10 columns">
                                @Html.TextBoxFor(m => m.FirstName)
				                @Html.ValidationMessageFor(m => m.FirstName)
                            </div>
                    </div>
                    
                   <div class="row collapse">
                           <div class="small-3 large-2 columns">
                                <span class="prefix">@Html.LabelFor(m => m.MiddleName)</span>
                            </div>
                            <div class="small-9 large-10 columns">
                                @Html.TextBoxFor(m => m.MiddleName)
				                @Html.ValidationMessageFor(m => m.MiddleName)
                            </div>
                    </div>
                    
                    <div class="row collapse">
                           <div class="small-3 large-2 columns">
                                <span class="prefix">@Html.LabelFor(m => m.LastName)</span>
                            </div>
                            <div class="small-9 large-10 columns">
                                @Html.TextBoxFor(m => m.LastName)
				                @Html.ValidationMessageFor(m => m.LastName)
                            </div>
                    </div>
                    
                    <div class="row collapse">
                           <div class="small-3 large-2 columns">
                                <span class="prefix">@Html.LabelFor(m => m.Email)</span>
                            </div>
                            <div class="small-9 large-10 columns">
                                @Html.TextBoxFor(m => m.Email)
				                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                    </div>
			          
			              
				    @Html.LabelFor(m => m.IsPlayer)
				    @Html.CheckBoxFor(m => m.IsPlayer)
				    @Html.ValidationMessageFor(m => m.IsPlayer)
			              
                    <ol>
				                @{
					                List<SelectListItem> allRoles = (from r in Roles.GetAllRoles()
													                 select new SelectListItem()
													                 {
														                 Text = r,
														                 Value = r
													                 }).ToList();
				                }
                    </ol>

				    @Html.LabelFor(m => m.Roles)
				    @Html.ListBoxFor(m => m.Roles, allRoles, new { size = allRoles.Count })
				    @Html.ValidationMessageFor(m => m.Roles)
			    

                
           </div>

            <div class="panel">
                <h3>Roles and Bio</h3>
                <div class="row collapse">

                    <div class="small-3 large-2 columns">
                        <span class="prefix">@Html.LabelFor(m => m.FullBio)</span>
                    </div>
                    <div class="small-9 large-10 columns">
                        @Html.TextAreaFor(m => m.FullBio)
				        @Html.ValidationMessageFor(m => m.FullBio)
                    </div>

                     @Html.LabelFor(m=>m.SixWordBio1)
                    <div class="small-3 large-2 columns">
                        <span class="prefix"><label>Bio Word 1</label></span>
                    </div>
                    <div class="small-9 large-10 columns">
                        @Html.TextBoxFor(m => m.SixWordBio1, new { size = 10 })
                    </div>

                    <div class="small-3 large-2 columns">
                        <span class="prefix"><label>Bio Word 2</label></span>
                    </div>
                    <div class="small-9 large-10 columns">
                        @Html.TextBoxFor(m => m.SixWordBio2, new { size = 10 })
                    </div>

                    <div class="small-3 large-2 columns">
                        <span class="prefix"><label>Bio Word 3</label></span>
                    </div>
                    <div class="small-9 large-10 columns">
                        @Html.TextBoxFor(m => m.SixWordBio3, new { size = 10 })
                    </div>

                    <div class="small-3 large-2 columns">
                        <span class="prefix"><label>Bio Word 4</label></span>
                    </div>
                    <div class="small-9 large-10 columns">
                        @Html.TextBoxFor(m => m.SixWordBio4, new { size = 10 })
                    </div>

                    <div class="small-3 large-2 columns">
                        <span class="prefix"><label>Bio Word 5</label></span>
                    </div>
                    <div class="small-9 large-10 columns">
                        @Html.TextBoxFor(m => m.SixWordBio5, new { size = 10 })
                    </div>

                    <div class="small-3 large-2 columns">
                        <span class="prefix"><label>Bio Word 6</label></span>
                    </div>
                    <div class="small-9 large-10 columns">
                        @Html.TextBoxFor(m => m.SixWordBio6, new { size = 10 })
                    </div>
                </div>
            </div>
            <input type="submit" value="Edit User" />
             }
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        $("#Roles").select2();
    });
</script>