@{
    ViewBag.Title = "Admin Panel";
}

<div id="adminBody">

    <div class="row wide">

        <div class="large-3 columns">

            @{ Html.RenderPartial("_AdminNavigation"); }

        </div>

        <div class="large-9 columns">

            <div class="panel">
                <h2>Admin Panel</h2>
            </div>
            @ViewBag.Message
            <div class="panel">
                <h2>Administrative Options</h2>
                <p>All administrative tasks for which you have access should be displayed in the left side navigation.</p>
                <p>Creating achievements and quests will leave them in draft mode; change them to active mode when you're sure they're ready for users.</p>
            </div>

        </div>

    </div>
</div>

<!--
<h2>Index</h2>

@{ bool fullAdmin = Roles.IsUserInRole(WebSecurity.CurrentUserName, JustPressPlay.Utilities.JPPConstants.Roles.FullAdmin); }

<ul>
@if (fullAdmin || Roles.IsUserInRole(WebSecurity.CurrentUserName, JustPressPlay.Utilities.JPPConstants.Roles.CreateUsers))
{
	<li>@Html.ActionLink("Add a new user", "AddUser")</li>
}

@if (fullAdmin || Roles.IsUserInRole(WebSecurity.CurrentUserName, JustPressPlay.Utilities.JPPConstants.Roles.EditUsers))
{
	<li>@Html.ActionLink("Edit a user", "EditUserList")</li>
}

@if (fullAdmin || Roles.IsUserInRole(WebSecurity.CurrentUserName, JustPressPlay.Utilities.JPPConstants.Roles.CreateAchievements))
{
	<li>@Html.ActionLink("Add a new achievement", "AddAchievement")</li>
}

@if (fullAdmin || Roles.IsUserInRole(WebSecurity.CurrentUserName, JustPressPlay.Utilities.JPPConstants.Roles.EditAchievements))
{
	<li>@Html.ActionLink("Edit an achievement", "EditAchievementList")</li>
}

@if (fullAdmin || Roles.IsUserInRole(WebSecurity.CurrentUserName, JustPressPlay.Utilities.JPPConstants.Roles.AssignIndividualAchievements))
{
	<li>@Html.ActionLink("Assign Individual Achievement", "AssignIndividualAchievement")</li>
}

@if (fullAdmin || Roles.IsUserInRole(WebSecurity.CurrentUserName, JustPressPlay.Utilities.JPPConstants.Roles.CreateQuests))
{
	<li>@Html.ActionLink("Add a Quest", "AddQuest")</li>
}

@if (fullAdmin || Roles.IsUserInRole(WebSecurity.CurrentUserName, JustPressPlay.Utilities.JPPConstants.Roles.EditQuests))
{
	<li>@Html.ActionLink("Edit a Quest", "EditQuestList")</li>
}

@if (fullAdmin || Roles.IsUserInRole(WebSecurity.CurrentUserName, JustPressPlay.Utilities.JPPConstants.Roles.DistributeCards))
{
	<li>@Html.ActionLink("Manage Cards", "ManageUserCardsList")</li>
}
@if (fullAdmin || Roles.IsUserInRole(WebSecurity.CurrentUserName, JustPressPlay.Utilities.JPPConstants.Roles.HandleHighlightedAchievements))
{
	<li>@Html.ActionLink("Manage highlighted (featured) quests/achievements", "ManageHighlights")</li>
}
@if (fullAdmin || Roles.IsUserInRole(WebSecurity.CurrentUserName, JustPressPlay.Utilities.JPPConstants.Roles.ManageSiteSettings))
{
	<li>@Html.ActionLink("Manage global site settings", "ManageSiteSettings")</li>
}
@if (fullAdmin || Roles.IsUserInRole(WebSecurity.CurrentUserName, JustPressPlay.Utilities.JPPConstants.Roles.CreateEditNews))
{
	<li>@Html.ActionLink("Add a news item", "AddNewsItem")</li>
}
@if (fullAdmin || Roles.IsUserInRole(WebSecurity.CurrentUserName, JustPressPlay.Utilities.JPPConstants.Roles.CreateEditNews))
{
	<li>@Html.ActionLink("Edit a news item", "EditNewsItemList")</li>
}
</ul>
-->