@{
    ViewBag.Title = "AddAchievement";
}
@model JustPressPlay.ViewModels.AddAchievementViewModel

<div id="adminBody">

    <div class="row wide">

        <div class="large-3 columns">

            @{ Html.RenderPartial("_AdminNavigation"); }

        </div>
        <div class="large-9 columns">
            @using (Html.BeginForm("AddAchievement", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "parentForm" }))
            {
                <div class="panel">
                    <h2>Create Achievement</h2>
            
                
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary()

                        <div id="admin-title">
                           @Html.LabelFor(m => m.Title)
                           @Html.TextBoxFor(m=> m.Title)
                           @Html.ValidationMessageFor(m => m.Title)
                        </div>

                           @Html.LabelFor(m => m.Description)
                           @Html.TextAreaFor(m => m.Description, new { rows=4, columns=20})
                           @Html.ValidationMessageFor(m => m.Description)

                       
                          <div>
                              <div class="row collapse">
                                <div class="small-3 large-2 columns">
                                  <span class="prefix">Requirement 1</span>
                                </div>
                                <div class="small-9 large-10 columns">
                                    @Html.TextBoxFor(m => m.Requirement1)
                                    @Html.ValidationMessageFor(m => m.Requirement1)
                                </div>
                              </div>
                          </div>

                          <div class="AchievementReq" id="req2">
                              <div class="row collapse">
                                <div class="small-3 large-2 columns">
                                  <span class="prefix">Requirement 2</span>
                                </div>
                                <div class="small-9 large-10 columns">
                                    @Html.TextBoxFor(m => m.Requirement2)
                                    @Html.ValidationMessageFor(m => m.Requirement2)
                                </div>
                              </div>
                          </div>
                    
                          <div class="AchievementReq" id="req3">
                              <div class="row collapse">
                                <div class="small-3 large-2 columns">
                                  <span class="prefix">Requirement 3</span>
                                </div>
                                <div class="small-9 large-10 columns">
                                    @Html.TextBoxFor(m => m.Requirement3)
                                    @Html.ValidationMessageFor(m => m.Requirement3)
                                </div>
                              </div>
                          </div>
                          <div class="AchievementReq" id="req4">
                              <div class="row collapse">
                                <div class="small-3 large-2 columns">
                                  <span class="prefix">Requirement 4</span>
                                </div>
                                <div class="small-9 large-10 columns">
                                    @Html.TextBoxFor(m => m.Requirement4)
                                    @Html.ValidationMessageFor(m => m.Requirement4)
                                </div>
                              </div>
                          </div>                    
                          <div class="AchievementReq" id="req5">
                              <div class="row collapse">
                                <div class="small-3 large-2 columns">
                                  <span class="prefix">Requirement 5</span>
                                </div>
                                <div class="small-9 large-10 columns">
                                    @Html.TextBoxFor(m => m.Requirement5)
                                    @Html.ValidationMessageFor(m => m.Requirement5)
                                </div>
                              </div>
                          </div>
                    
                          <div class="AchievementReq" id="req6">
                              <div class="row collapse">
                                <div class="small-3 large-2 columns">
                                  <span class="prefix">Requirement 6</span>
                                </div>
                                <div class="small-9 large-10 columns">
                                    @Html.TextBoxFor(m => m.Requirement6)
                                    @Html.ValidationMessageFor(m => m.Requirement6)
                                </div>
                              </div>
                          </div>                                        
                        <ul class="button-group">
                          <li><a onclick="addRequirement()" class="button [alert success secondary] small" id="add-btn">Add Requirement</a></li>
                          <li><a onclick="removeRequirement()" class="button [secondary alert success] small" id="rmv-btn">Remove Requirement</a></li>
                        </ul>
                    
                  </div>
                
                <div class="row">
                     <div class="large-6 columns">
                        <div class="panel">
                            <h4>Achievement Type</h4>
                                <span id ="achievementType">
                                    @Html.LabelFor(m => m.Type)
                                    @Html.DropDownListFor(m => m.Type, JustPressPlay.Utilities.JPPConstants.SelectListFromEnum<JustPressPlay.Utilities.JPPConstants.AchievementTypes>())
                                    @Html.ValidationMessageFor(m => m.Type)
                                </span>
                                <span id="scanInfo">
                                    @Html.LabelFor(m => m.IsRepeatable)
                                    @Html.CheckBoxFor(m => m.IsRepeatable)
                                    @Html.ValidationMessageFor(m => m.IsRepeatable)
                               

                                    <span id="repeatDelay">
                                        @Html.LabelFor(m => m.RepeatDelayDays)
                                        @Html.TextBoxFor(m => m.RepeatDelayDays, new { type = "number" })
                                        @Html.ValidationMessageFor(m => m.RepeatDelayDays)
                                    </span>


                                    @Html.LabelFor(m => m.SelectedCaretakersList)
                                    @Html.ListBoxFor(m => m.SelectedCaretakersList, new SelectList(Model.PotentialCaretakersList, "id", "display_name"))
                                    @Html.ValidationMessageFor(m => m.SelectedCaretakersList)
                                 </span>
                                
                                <span id="thresholdInfo" style="display:none">
                                    @Html.LabelFor(m => m.ParentID)
                                    @Html.DropDownListFor(m => m.ParentID, new SelectList(Model.ParentAchievements, "id", "title"))
                                    @Html.ValidationMessageFor(m => m.ParentID)

                                    @Html.LabelFor(m => m.Threshold)
                                    @Html.TextBoxFor(m => m.Threshold, new { type = "number" })
                                    @Html.ValidationMessageFor(m => m.Threshold)
                                </span>

                                <span id="systemInfo" style="display:none">
                                    @Html.LabelFor(m => m.SystemTriggerType)
                                    @Html.DropDownListFor(m => m.SystemTriggerType, JustPressPlay.Utilities.JPPConstants.SelectListFromEnum<JustPressPlay.Utilities.JPPConstants.SystemAchievementTypes>())
                                    @Html.ValidationMessageFor(m => m.SystemTriggerType)
                                </span>

                                <span id="usersubmissionInfo" style="display:none">
                                    @Html.LabelFor(m => m.ContentType)
                                    @Html.DropDownListFor(m => m.ContentType, JustPressPlay.Utilities.JPPConstants.SelectListFromEnum<JustPressPlay.Utilities.JPPConstants.UserSubmissionTypes>())
                                    @Html.ValidationMessageFor(m => m.ContentType)
                                </span>

                                <span id="adminassignedInfo" style="display:none">
                                    @Html.LabelFor(m => m.SelectedCaretakersList)
                                    @Html.ListBoxFor(m => m.SelectedCaretakersList, new SelectList(Model.PotentialCaretakersList, "id", "display_name"))
                                    @Html.ValidationMessageFor(m => m.SelectedCaretakersList)
                                </span>
                        </div>
                    </div>

                    <div class="large-6 columns">
                          <div class="panel">
                              <div id="adminQuadView">
                                    <div class="heightFill"></div>
                                    <div id="quadBackground"></div>
                                    <div id="createQuad" class="transition quad0"></div>
                                    <div id="learnQuad" class="transition quad0"></div>
                                    <div id="exploreQuad" class="transition quad0"></div>
                                    <div id="socialQuad" class="transition quad0"></div>
                                    <div id="pointOverlay"></div>

                                        @*<form>*@
                                        @Html.LabelFor(m => m.PointsCreate, new { id = "createLabel", @class = "quadLabel" })
                                        @Html.DropDownListFor(m => m.PointsCreate, new SelectList(JustPressPlay.Utilities.JPPConstants.AchievementPoints()), new { @class = "valueSelect" })
                                        @Html.ValidationMessageFor(m => m.PointsCreate)

                                        @Html.LabelFor(m => m.PointsLearn, new { id = "learnLabel", @class = "quadLabel" })
                                        @Html.DropDownListFor(m => m.PointsLearn, new SelectList(JustPressPlay.Utilities.JPPConstants.AchievementPoints()), new { @class = "valueSelect" })
                                        @Html.ValidationMessageFor(m => m.PointsLearn)

                                        @Html.LabelFor(m => m.PointsExplore, new { id = "exploreLabel", @class = "quadLabel" })
                                        @Html.DropDownListFor(m => m.PointsExplore, new SelectList(JustPressPlay.Utilities.JPPConstants.AchievementPoints()), new { @class = "valueSelect" })
                                        @Html.ValidationMessageFor(m => m.PointsExplore)

                                        @Html.LabelFor(m => m.PointsSocialize, new { id = "socialLabel", @class = "quadLabel" })
                                        @Html.DropDownListFor(m => m.PointsSocialize, new SelectList(JustPressPlay.Utilities.JPPConstants.AchievementPoints()), new { @class = "valueSelect" })
                                        @Html.ValidationMessageFor(m => m.PointsSocialize)
                                        
                                    @*</form>*@
                                </div>
                          </div>
                      </div>
                </div>


                <div class="row">
                    <div class="large-12 columns">
                        <div class="panel icon-picker">
                            <h4>Select a Photo</h4>
								@{ int counter = 0; }
								@foreach (String icon in Model.IconList)
								{
									String label = "icon" + counter;
			
									<span style="float:left; margin:3px;">
										@Html.RadioButtonFor(m => m.Icon, icon, new { id = label })
										<label for="@label"><img width="80px" height="80px" style="background-color:black;" src="@Url.Content(JustPressPlay.Utilities.JPPConstants.Images.IconPath + icon + ".png")" /></label>
									</span>
									counter++;
								}
                                @Html.ValidationMessageFor(m => m.Icon)
                        </div>
                    </div>
                </div>
        
                   <input type="submit" value="Create Achievement" />
                }
            </div>

        </div>

    </div>
</div>

<script src="@Url.Content("~/Content/js/adminQuadView.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/dynamicAchievement.js")" type="text/javascript"></script>
