@model JustPressPlay.ViewModels.AddNewsItemViewModel

@{
    ViewBag.Title = "AddNewsItem";
}

<div id="adminBody">

    <div class="row wide">

        <div class="large-3 columns">

            @{ Html.RenderPartial("_AdminNavigation"); }

        </div>

        <div class="large-9 columns">

            <div class="panel">
                <h2>Add News Item</h2>

                @using (Html.BeginForm("AddNewsItem", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "parentForm" })) 
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)


                        <div class="editor-label">
                            @Html.LabelFor(model => model.Title)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Title)
                            @Html.ValidationMessageFor(model => model.Title)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Body)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Body)
                            @Html.ValidationMessageFor(model => model.Body)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Active)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Active)
                            @Html.ValidationMessageFor(model => model.Active)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(m => m.Image)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.Image, new { type = "file"})
                            @Html.ValidationMessageFor(m => m.Image)
                        </div>

                        <p>
                            <input type="submit" value="Create" />
                        </p>
                }
            </div>

        </div>

    </div>
</div>

@*
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
*@
