@{
    ViewBag.Title = "AddUser";
}

@model JustPressPlay.ViewModels.AddUserViewModel


<div id="adminBody">

    <div class="row wide">

        <div class="large-3 columns">

            @{ Html.RenderPartial("_AdminNavigation"); }

        </div>

        <div class="large-9 columns">

            <div class="panel">
                <h2>Add User</h2>
            </div>

            <div class="panel">
                @if( ViewBag.Message != null )
                {
	                @ViewBag.Message<br /><br />
                }

                @using (Html.BeginForm("AddUser", "Admin", FormMethod.Post, new { enctype = "multipart/form-data"})) {
	                @Html.AntiForgeryToken()
	                @Html.ValidationSummary()
	
		               
			               
				    @Html.LabelFor(m => m.Username)
                    @Html.TextBoxFor(m => m.Username)
				    @Html.ValidationMessageFor(m => m.Username)
			               
				    @Html.LabelFor(m => m.Password)
				    @Html.PasswordFor(m => m.Password)
				    @Html.ValidationMessageFor(m => m.Password)
			               
				    @Html.LabelFor(m => m.ConfirmPassword)
				    @Html.PasswordFor(m => m.ConfirmPassword)
				    @Html.ValidationMessageFor(m => m.ConfirmPassword)
			               
				    @Html.LabelFor(m => m.Email)
				    @Html.TextBoxFor(m => m.Email)
				    @Html.ValidationMessageFor(m => m.Email)
			                
				    @Html.LabelFor(m => m.DisplayName)
				    @Html.TextBoxFor(m => m.DisplayName)
				    @Html.ValidationMessageFor(m => m.DisplayName)
			                
				    @Html.LabelFor(m => m.IsPlayer)
				    @Html.CheckBoxFor(m => m.IsPlayer)
				    @Html.ValidationMessageFor(m => m.IsPlayer)
			               
				    @Html.LabelFor(m => m.FirstName)
				    @Html.TextBoxFor(m => m.FirstName)
				    @Html.ValidationMessageFor(m => m.FirstName)
			                
				    @Html.LabelFor(m => m.MiddleName)
				    @Html.TextBoxFor(m => m.MiddleName)
				    @Html.ValidationMessageFor(m => m.MiddleName)
			               
				    @Html.LabelFor(m => m.LastName)
				    @Html.TextBoxFor(m => m.LastName)
				    @Html.ValidationMessageFor(m => m.LastName)

                    @Html.TextBoxFor(m => m.Image, new { type = "file" })
		                <input type="submit" value="Add User" />
                }
            </div>

        </div>

    </div>
</div>