@{
    ViewBag.Title = "AddUser";
}

@model JustPressPlay.ViewModels.AddUserViewModel


<div id="adminBody">

    <div class="row wide">

        <div class="large-3 columns">

            @{ Html.RenderPartial("_AdminNavigation"); }

        </div>

        <div class="large-9 columns">
            @if( ViewBag.Message != null )
                {
	                @ViewBag.Message<br /><br />
                }

                @using (Html.BeginForm()) {
	                @Html.AntiForgeryToken()
	                @Html.ValidationSummary()
            <div class="panel">
                <h2>Add User</h2>

             
                        <div class="row collapse">
                           <div class="small-3 large-2 columns">
                                <span class="prefix">@Html.LabelFor(m => m.DisplayName)</span>
                            </div>
                            <div class="small-9 large-10 columns">
                                @Html.TextBoxFor(m => m.DisplayName)
				                @Html.ValidationMessageFor(m => m.DisplayName)
                            </div>

                            <div class="small-3 large-2 columns">
                                <span class="prefix">@Html.LabelFor(m => m.FirstName)</span>
                            </div>
                            <div class="small-9 large-10 columns">
                                @Html.TextBoxFor(m => m.FirstName)
				                @Html.ValidationMessageFor(m => m.FirstName)
                            </div>

                            <div class="small-3 large-2 columns">
                                <span class="prefix">@Html.LabelFor(m => m.MiddleName)</span>
                            </div>
                            <div class="small-9 large-10 columns">
                                @Html.TextBoxFor(m => m.MiddleName)
				                @Html.ValidationMessageFor(m => m.MiddleName)
                            </div>

                            <div class="small-3 large-2 columns">
                                <span class="prefix">@Html.LabelFor(m => m.LastName)</span>
                            </div>
                            <div class="small-9 large-10 columns">
                                @Html.TextBoxFor(m => m.LastName)
				                @Html.ValidationMessageFor(m => m.LastName)
                            </div>

                             <div class="small-3 large-2 columns">
                                <span class="prefix">@Html.LabelFor(m => m.Email)</span>
                            </div>
                            <div class="small-9 large-10 columns">
                                @Html.TextBoxFor(m => m.Email)
				                @Html.ValidationMessageFor(m => m.Email)
                            </div>


                            @Html.LabelFor(m => m.IsPlayer)
				            @Html.CheckBoxFor(m => m.IsPlayer)
				            @Html.ValidationMessageFor(m => m.IsPlayer)

                        </div>
                    
                
            </div>

            <div class="panel">
                <h3>Login Information</h3>
                <div class="row collapse">
                    <div class="small-3 large-2 columns">
                        <span class="prefix">@Html.LabelFor(m => m.Username)</span>
                    </div>
                    <div class="small-9 large-10 columns">
                        @Html.TextBoxFor(m => m.Username)
				        @Html.ValidationMessageFor(m => m.Username)
                    </div>

                    <div class="small-3 large-2 columns">
                        <span class="prefix">@Html.LabelFor(m => m.Password)</span>
                    </div>
                    <div class="small-9 large-10 columns">
                        @Html.TextBoxFor(m => m.Password)
				        @Html.ValidationMessageFor(m => m.Password)
                    </div>

                    <div class="small-3 large-2 columns">
                        <span class="prefix">@Html.LabelFor(m => m.ConfirmPassword)</span>
                    </div>
                    <div class="small-9 large-10 columns">
                        @Html.TextBoxFor(m => m.ConfirmPassword)
				        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>

		            <input type="submit" value="Add User" />
                </div>
            </div>
          }
                

        </div>

    </div>
</div>