@{
    ViewBag.Title = "EditUserList";

    bool fullAdmin = Roles.IsUserInRole(WebSecurity.CurrentUserName, JustPressPlay.Utilities.JPPConstants.Roles.FullAdmin);
    bool editUsers = Roles.IsUserInRole(WebSecurity.CurrentUserName, JustPressPlay.Utilities.JPPConstants.Roles.EditUsers);
    bool editUserAchievements = Roles.IsUserInRole(WebSecurity.CurrentUserName, JustPressPlay.Utilities.JPPConstants.Roles.ModerateAchievementsAndStories);
}

@model JustPressPlay.ViewModels.UserListViewModel


<div id="adminBody">

    <div class="row wide">

        <div class="large-3 columns">

            @{ Html.RenderPartial("_AdminNavigation"); }

        </div>

        <div class="large-9 columns">

            <div class="panel">
                <h2>Edit User</h2>
                <p>Select the user to edit</p>
            </div>
            <div class="panel">
                <table>
                    <thead>
                        <tr>
                            <th>User ID</th>
                            <th>Username</th>
                            <th>Display Name</th>
                            <th>Real Name</th>
                            <th>Is a player?</th>
                            <th>Last Login</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var u in Model.Users)
                        {	
                            <tr>
                                <td>@u.ID</td>
                                <td>@u.Username</td>
                                <td>@u.DisplayName</td>
                                <td>@u.RealName</td>
                                <td>@u.IsPlayer</td>
                                <td>@u.LastLoginString</td>
                                @if(editUsers || fullAdmin){<td>@Html.ActionLink("Edit Profile", "EditUser", new { id = u.ID }) </td>}
                                @if(editUserAchievements || fullAdmin){<td>@Html.ActionLink("Edit Achievements", "EditUserAchievementsList", new { id = u.ID })</td>}
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>