@{
	ViewBag.Title = "EditUser";
}
@model JustPressPlay.ViewModels.EditUserViewModel


<div id="adminBody">

    <div class="row wide">

        <div class="large-3 columns">

            @{ Html.RenderPartial("_AdminNavigation"); }

        </div>

        <div class="large-9 columns">

            <div class="panel">
                <h2>Edit User</h2>
            </div>

            <div class="panel">
                @if (ViewBag.Message != null)
                {
	                @ViewBag.Message<br />
	                <br />
                }

                @using (Html.BeginForm())
                {
	                @Html.AntiForgeryToken()
	                @Html.ValidationSummary()
	                @Html.HiddenFor(m => m.ID)

				    @Html.LabelFor(m => m.DisplayName)
				    @Html.TextBoxFor(m => m.DisplayName)
				    @Html.ValidationMessageFor(m => m.DisplayName)
			             
				    @Html.LabelFor(m => m.Email)
				    @Html.TextBoxFor(m => m.Email)
				    @Html.ValidationMessageFor(m => m.Email)
			              
				    @Html.LabelFor(m => m.IsPlayer)
				    @Html.CheckBoxFor(m => m.IsPlayer)
				    @Html.ValidationMessageFor(m => m.IsPlayer)
			              
                    <ol>
				                @{
					                List<SelectListItem> allRoles = (from r in Roles.GetAllRoles()
													                 select new SelectListItem()
													                 {
														                 Text = r,
														                 Value = r
													                 }).ToList();
				                }
                    </ol>

				    @Html.LabelFor(m => m.Roles)
				    @Html.ListBoxFor(m => m.Roles, allRoles, new { size = allRoles.Count })
				    @Html.ValidationMessageFor(m => m.Roles)
			             
			        
				    @Html.LabelFor(m => m.FirstName)
				    @Html.TextBoxFor(m => m.FirstName)
				    @Html.ValidationMessageFor(m => m.FirstName)
			       
				    @Html.LabelFor(m => m.MiddleName)
				    @Html.TextBoxFor(m => m.MiddleName)
				    @Html.ValidationMessageFor(m => m.MiddleName)
			         
				    @Html.LabelFor(m => m.LastName)
				    @Html.TextBoxFor(m => m.LastName)
				    @Html.ValidationMessageFor(m => m.LastName)
			             
				    @Html.LabelFor(m=>m.SixWordBio1)
				    @Html.TextBoxFor(m => m.SixWordBio1, new { size = 10 })
				    @Html.TextBoxFor(m => m.SixWordBio2, new { size = 10 })
				    @Html.TextBoxFor(m => m.SixWordBio3, new { size = 10 })
				    @Html.TextBoxFor(m => m.SixWordBio4, new { size = 10 })
				    @Html.TextBoxFor(m => m.SixWordBio5, new { size = 10 })
				    @Html.TextBoxFor(m => m.SixWordBio6, new { size = 10 })
			        
				    @Html.LabelFor(m => m.FullBio)
				    @Html.TextAreaFor(m => m.FullBio)
				    @Html.ValidationMessageFor(m => m.FullBio)
		             
		                <input type="submit" value="Save Changes" />
                }
            </div>

        </div>

    </div>
</div>