@model JustPressPlay.ViewModels.EditQuestViewModel

@{
    ViewBag.Title = "EditQuest";
}


<div id="adminBody">

    <div class="row wide">

        <div class="large-3 columns">

            @{ Html.RenderPartial("_AdminNavigation"); }

        </div>

        <div class="large-9 columns">

            <div class="panel">
                <h2>EditQuest</h2>
            </div>

            <div class="panel">
                @using (Html.BeginForm("EditQuest", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "parentForm" })) 
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <fieldset>
                        <legend>EditQuestViewModel</legend>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Title)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Title)
                            @Html.ValidationMessageFor(model => model.Title)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Description)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Description)
                            @Html.ValidationMessageFor(model => model.Description)
                        </div>
                         <div>
                            @Html.LabelFor(model => model.SelectedAchievementsList)
                            @Html.ListBoxFor(model => model.SelectedAchievementsList, new SelectList(Model.AchievementsList, "id", "title"))
                            @Html.ValidationMessageFor(model => model.SelectedAchievementsList)
                        </div>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Threshold)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.Threshold, new { type = "number"})
                            @Html.ValidationMessageFor(model => model.Threshold)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.State)
                        </div>
                        <div class="editor-field">
                            @Html.DropDownListFor(m => m.State, JustPressPlay.Utilities.JPPConstants.SelectListFromEnum<JustPressPlay.Utilities.JPPConstants.AchievementQuestStates>())
                            @Html.ValidationMessageFor(model => model.State)
                        </div>
                        <div class="editor-label">
                                @Html.LabelFor(m => m.Icon)
						</div>
						<div class="editor-field">
								@{ int counter = 0; }
								@foreach (String icon in Model.IconList)
								{
									String label = "icon" + counter;
			
									<span style="float:left; margin:3px;">
										@Html.RadioButtonFor(m => m.Icon, icon, new { id = label })
										<label for="@label"><img width="80px" height="80px" style="background-color:black;" src="@Url.Content(JustPressPlay.Utilities.JPPConstants.Images.IconPath + icon + ".png")" /></label>
									</span>
			
									counter++;
								}
                                @Html.ValidationMessageFor(m => m.Icon)
                        </div>
						<br clear="all" />
                        <div class="editor-field">
                            <input type="submit" value="Save" />
                        </div>
                    </fieldset>
                }
            </div>

        </div>

    </div>
</div>