@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{ bool fullAdmin = Roles.IsUserInRole(WebSecurity.CurrentUserName, JustPressPlay.Utilities.JPPConstants.Roles.FullAdmin); }

<ul>
@if (fullAdmin || Roles.IsUserInRole(WebSecurity.CurrentUserName, JustPressPlay.Utilities.JPPConstants.Roles.CreateUsers))
{
	<li>@Html.ActionLink("Add a new user", "AddUser")</li>
}

@if (fullAdmin || Roles.IsUserInRole(WebSecurity.CurrentUserName, JustPressPlay.Utilities.JPPConstants.Roles.EditUsers))
{
	<li>@Html.ActionLink("Edit a user", "EditUserList")</li>
}

@if (fullAdmin || Roles.IsUserInRole(WebSecurity.CurrentUserName, JustPressPlay.Utilities.JPPConstants.Roles.CreateAchievements))
{
	<li>@Html.ActionLink("Add a new achievement", "AddAchievement")</li>
}

@if (fullAdmin || Roles.IsUserInRole(WebSecurity.CurrentUserName, JustPressPlay.Utilities.JPPConstants.Roles.EditAchievements))
{
	<li>@Html.ActionLink("Edit an achievement", "EditAchievementList")</li>
}

@if (fullAdmin || Roles.IsUserInRole(WebSecurity.CurrentUserName, JustPressPlay.Utilities.JPPConstants.Roles.AssignIndividualAchievements))
{
	<li>@Html.ActionLink("Assign Individual Achievement", "AssignIndividualAchievement")</li>
}
</ul>