@model JustPressPlay.ViewModels.ManageHighlightsViewModel

@{
    ViewBag.Title = "ManageHighlights";
}


<div id="adminBody">

    <div class="row wide">

        <div class="large-3 columns">

            @{ Html.RenderPartial("_AdminNavigation"); }

        </div>

        <div class="large-9 columns">

            <div class="panel">
                <h2>Manage Highlights</h2>
            </div>

            <div class="panel">
                @using (Html.BeginForm("ManageHighlights", "Admin", FormMethod.Post)) {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)


                        <div>
                            @Html.LabelFor(model => model.SelectedAchievementIDs)
                            @Html.ListBoxFor(model=>model.SelectedAchievementIDs, new MultiSelectList(Model.AllAchievementsList, "id", "title"))
                            @Html.ValidationMessageFor(model => model.SelectedAchievementIDs)
                        </div>

                        <div>
                            @Html.LabelFor(model => model.SelectedQuestsIDs)
                            @Html.ListBoxFor(model => model.SelectedQuestsIDs, new MultiSelectList(Model.AllQuestsList, "id", "title"))
                            @Html.ValidationMessageFor(model => model.SelectedQuestsIDs)
                        </div>

                        
                            <input type="submit" value="Save" />
                        
                }
            </div>

        </div>

    </div>
</div>

@*
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
*@
