<ul id="linkList">
    <li><a href="#">Terms of Use</a></li>
    <li>@Html.ActionLink("About", "About", "Home" )</li>
    <li>@Html.ActionLink("Credits", "Credits", "Home" )</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home" )</li>
</ul>

<ul id="imageList" class="small-block-grid-3">
    <li><a href="http://magic.rit.edu/" target="_blank"><img src="@Url.Content("~/Content/Images/Jpp/magic-50.png")" /></a></li>
    <li><a href="http://research.microsoft.com/en-us/collaboration/" target="_blank"><img src="@Url.Content("~/Content/Images/Jpp/microsoft-50.png")" /></a></li>
    <li><a href="http://www.rit.edu/" target="_blank"><img src="@Url.Content("~/Content/Images/Jpp/rit-50.png")" /></a></li>
</ul>