
@using System.Text.RegularExpressions

@{
    // Grabs the user information for use in the top bar
    JustPressPlay.ViewModels.LayoutViewModel userInfo = JustPressPlay.ViewModels.LayoutViewModel.Populate();
    if (WebSecurity.IsAuthenticated)
    {
        ViewBag.userImage = userInfo.Image;

    }
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />

        <title>@ViewBag.Title - Just Press Play</title>

        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        
		<link href="@Url.Content("~/Content/css/fonts.css")" type="text/css" rel="stylesheet" />
		<link href="@Url.Content("~/Content/css/select2.css")" type="text/css" rel="stylesheet" />
        <link href="@Url.Content("~/Content/css/foundation.min.css")" type="text/css" rel="stylesheet" />
        <link href="@Url.Content("~/Content/css/jppstyle.min.css")" type="text/css" rel="stylesheet" />

        @if (ViewBag.FacebookMetaEnabled != null && ViewBag.FacebookMetaEnabled == true)
        {
            <meta property="fb:app_id" content="@ViewBag.FacebookAppId">
            <meta property="og:url" content="@ViewBag.FacebookOgUrl">
            <meta property="og:type" content="@ViewBag.FacebookOgType">
            <meta property="og:title" content="@ViewBag.FacebookOgTitle">
            <meta property="og:image" content="@ViewBag.FacebookOgImageUri">
            <meta property="og:description" content="@ViewBag.FacebookOgDescription">
        }
        
        @Scripts.Render("~/bundles/modernizr")


            
    </head>
    <body>

        @Scripts.Render("~/bundles/jquery", "~/bundles/knockoutjs")

        @{ Html.RenderPartial("_Navigation"); }
        
        <script src="@Url.Content("~/Content/js/jppviewmodels.js")" type="text/javascript"></script>


        @RenderBody()


        <!--@Scripts.Render("~/bundles/jquery")-->
        
        <script>
            $('table').attr('data-sortable', '');
        </script>

        <script src="@Url.Content("~/Content/js/plugin/jquery.form.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.autosize.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Content/js/plugin/fastclick.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Content/js/plugin/jquery.slimscroll.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Content/js/plugin/select2.min.js")" type="text/javascript"></script>
        
        <!--<script src="@Url.Content("~/Content/js/plugin/jquery.qrcode.min.js")" type="text/javascript"></script>-->
        <script src="@Url.Content("~/Content/js/plugin/sortable.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Content/js/jscripts.js")" type="text/javascript"></script>

        <script src="@Url.Content("~/Content/js/adminScripts.js")" type="text/javascript"></script>
        
        <!--<script src="@Url.Content("~/Content/js/foundation/foundation.min.js")" type="text/javascript"></script>-->
        <script src="@Url.Content("~/Content/js/foundation/foundation.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Content/js/foundation/foundation.topbar.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Content/js/foundation/foundation.orbit.js")" type="text/javascript"></script>

  

        <script>
            $(document).ready(function () {
                $('textarea').autosize();
            });

            $(document).foundation('topbar');

            $(document).foundation({orbit: {
                animation: 'fade',
                timer_speed: 0,
                pause_on_hover: true,
                resume_on_mouseout: false,
                animation_speed: 100,
                stack_on_small: true,
                navigation_arrows: true,
                slide_number: false,
                bullets: true,
                timer: false,
                variable_height: false
            }});
        </script>

    </body>
</html>
