@{
    ViewBag.Title = "About";
}

@model JustPressPlay.ViewModels.LayoutViewModel

<div  class="homeNews activeNews">
<div class="row">
	<div class="large-12 columns" id="aboutSlider">
		<ul  data-orbit data-options="slide_number:false">
            <li><img src="@Url.Content("~/Content/Images/Jpp/About/slide1.jpg")"></li>
            <li><img src="@Url.Content("~/Content/Images/Jpp/About/slide2.jpg")"></li>
            <li><img src="@Url.Content("~/Content/Images/Jpp/About/slide3.jpg")"></li>
            <li><img src="@Url.Content("~/Content/Images/Jpp/About/slide4.jpg")"></li>
            <li><img src="@Url.Content("~/Content/Images/Jpp/About/slide5.jpg")"></li>
		</ul>
	</div>
</div>
</div>

<div id="lowerBody">
    <div class="row" id="aboutText">
	    <div class="large-8 columns">
		    <h2>What is Just Press Play?</h2>
		    <p>Just Press Play is an achievement system developed in RIT's School of Interactive Games &amp; Media, which  adds a game layer to our undergraduates' daily life. It is intended to encourage students to engage in a playful way with their educational environments and experiences, to reflect on their accomplishments, and to strengthen their sense of competence and progress.</p>
		    <p>If you're an IGM student, we invite you to create an account and explore the opportunities to connect, collaborate, and create that Just Press Play offers!</p>
		    <p>If you're not an IGM student, you can still explore the system&mdash;you just can't earn any achievements yourself.</p>

		    <h4>What Type of Achievements?</h4>
		    <p>In developing content for Just Press Play, we thought about the kinds of activities that are typical of our most successful students. We know, for instance, that student retention rates improve when students are making meaningful, positive connections with faculty and/or staff. To encourage those connections, we created achievements for our faculty and staff, which students could receive after engaging in a specific playful or creative interaction. One faculty member asks students to <a href="#pie">bring her a picture of themselves eating pie,</a> and is covering one wall of her office with these photos; another challenges students to <a href="#lawls">make her laugh out loud</a> in order to earn her achievement. Our digital audio instructor asks players to <a href="#that chieve">bring him a ten-second digital audio clip of a sound from their world.</a></p>
		    <p>Other achievements are intended to encourage collaborative rather than individual work. Because we've had difficulty in getting more than 85% of our freshman to pass the introductory programming class, we created an achievement series called "Undying." If 90% of our freshmen pass the class, everyone playing the game would receive the achievement. In response, during the first year of Just Press Play, juniors and seniors spontaneously organized study sessions for the freshmen before the final exam. And while the students did unlock the achievement (91% of the freshmen passed the class), the real win for us was that the upper-class students enjoyed the tutoring so much that they have continued to run study sessions every quarter since then. The achievement served as a catalyst, but it was the activity itself, not the achievement, that was the real reward for the students.</p>

		    <div class="row">
			    <div class="large-6 columns">
				    <!--WIP some pictorial representation of the quads (link to balancing act??)-->
                    <img src="http://placehold.it/300&text=some+circular+image+probably" style="border-radius:100%">
			    </div>
			
			    <div class="large-6 columns">
				    <p>Achievements can have points in any of four quadrants: Create (focused on creative work), Socialize (in-person interaction with faculty, staff, and/or students), Explore (discovery of real-world locations on campus and in the community), and Learn (gaining new skills or experiences).</p>
				    <p>Our content is guided by two key principles. First, every achievement should represent an accomplishment that a student would be likely to want to remember or share with others. Second, every achievement should be an optional activity&mdash;not tied in any way to class requirements. (Many achievements are easier to get if you've mastered the material for a class, but none explicitly require it.)<p>
			    </div>
		    </div>
	    </div>

	    <div class="large-4 columns">
		    <h4>Why an Achievement System?</h4>
		    <p>We believe that games, when well-designed, are a great way to encourage engagement and interaction among players. Our goal was to find a way to make interesting opportunities for connection, collaboration, and creativity more visible to our students, as well as to provide students with a way to reflect on their accomplishments and strengthen their sense of competence and progress.</p>

		    <h4>Why Not Use a Commercial Tool?</h4>
		    <p>While commercial systems for gamification are widely available, we felt it was important to be able to store our own data, and to be able to modify any aspect of the system as needed. We also wanted our students to have the opportunity to help develop a system rather than simply implementing one.</p>

		    <h4>Can We Run This at Another School?</h4>
		    <p>Just Press Play currently runs on a .NET server in the Azure hosting environment. With the generous support of Microsoft Research Connections, we will be releasing all of the code for the system under an open source license in September of 2013. By January of 2014, we also anticipate making a cloud-based service available at a minimal cost for schools without the technical infrastructure or staffing to implement their own in-house server.</p>
		    <p>Along with code, we will also be providing a guide to best practices for implementing successful game-based experiences in educational contexts.</p>

		    <h4>Where Can I Find More Information?</h4>
		    <p>You can find a collection of articles about Just Press Play <a href="#Link to Zotero database of articles on Just Press Play">here.</a></p>
		    <p>You can find the source code for Just Press Play on our Github Repository <a href="#Link to Github repository once it's done.">here.</a></p>
	    </div>
    </div>
</div>

<div class="row">
    <footer>
        @{ Html.RenderPartial("_Footer"); }
    </footer>
</div>
