@{
    ViewBag.Title = "Home Page";
}

@model JustPressPlay.ViewModels.TimelineViewModel

<div id="headerSection" class="homeNews activeNews">
    <div class="row">

        <div class="large-12 columns">
            <button id="showNewsButton" class="secondary small radius right">SHOW/HIDE</button>
            <h1><a href="#">JPP V3 - THE FUTURE IS NOW</a></h1>
        </div>

        <!--
        <div class="large-4 columns">
            <div class="coloredTitle hide-for-small">
                <h1>JUST</h1>
                <h2>Press</h2>
                <h3>Play</h3>
            </div>
                
        </div>
        -->

    </div>
    <div class="row">
        <div class="large-4 columns">
            <p><img src="images/igmlab.jpg" style="width: 100%;" /></p>
        </div>
        <div class="large-8 columns">

            <p>This is the sample text for a news story. Here players will be informed about what's happening in the game. Information about quest and achievement avalibility will be posted in this very space. Right here. And any version updates will also likely be posted here. Like for instance this really nice version we are currently building. Ain't it purrdy? Filler filler filler, whoop whoop whoop.</p>
            <p class="right"><a href="#">Read more...</a></p>

        </div>



    </div>
</div>


<div id="lowerBody">

    <div class="row">

        <div class="large-8 columns">

            <h3>RECENT ACTIVITY</h3>

            <div class="row">

                <div class="large-6 columns">

                    <div class="timelineFeed">

                        @if( WebSecurity.IsAuthenticated )
                        {

                            <p>Your Timeline</p>
	                        <ul>
		                        @foreach (JustPressPlay.ViewModels.EarningsViewModel.Earning e in Model.MyProfile.Earnings.Earnings)
		                        {
			                        <li>
				                        Achievement Earning!
				                        <ul>
					                        <li>@e.DisplayName</li>
					                        <li>@if(!String.IsNullOrWhiteSpace(e.PlayerImage)){<img src="@Url.Content(e.PlayerImage)" />}</li>
					                        <li>@e.EarnedDate</li>
					                        <li>@e.Achievement.Title</li>
					                        <li>Story Photo: @if(!String.IsNullOrWhiteSpace(e.StoryPhoto)) {<img src="@Url.Content(e.StoryPhoto)" />}</li>
					                        <li>Story Text: @e.StoryText</li>
					                        <li>Comment Count: @e.Comments.Comments.Count</li>
				                        </ul>
			                        </li>
		                        }
	                        </ul>
                            
                        }
 
                    </div>

                </div>

                <div class="large-6 columns">

                    <div class="timelineFeed">

                        <p>Public Timeline:</p>

	                    @foreach (JustPressPlay.ViewModels.EarningsViewModel.Earning e in Model.OtherEarnings.Earnings)
	                    {
                         
                            <div class="timelinePost">

                                @if(!String.IsNullOrWhiteSpace(e.StoryPhoto)) 
                                {
                                    <div class="postPhoto">
                                        <img src="@Url.Content(e.StoryPhoto)" />
                                    </div>
                                }

                                <div class="postInfo">
                                    <div class="userPhoto">
                                        <a href="@Url.Action("" + e.PlayerID, "Players")">
                                            @if (!@e.PlayerImage.IsEmpty())
                                            {
                                                <img src="@Url.Content(e.PlayerImage)" />
                                            }
                                            else
                                            {
                                                <img src="@Url.Content("~/Content/Images/Jpp/defaultProfileAvatar.png")" />
                                            }
                                        </a>
                                    </div>
                                    <h1><a href="@Url.Action("" + e.PlayerID, "Players")">@e.DisplayName</a></h1>
                                    <h2>Earned <a href="@Url.Action("" + e.Achievement.ID, "Achievements")">@e.Achievement.Title</a></h2>
                                    <h3>@e.EarnedDate</h3>
                                </div>
                        
                                <div class="postBody">
                                    
                                    @if(!String.IsNullOrWhiteSpace(e.StoryText)) 
                                    {
                                        <p>@e.StoryText</p>
                                    }
                                    else 
                                    {
                                        <p>@e.DisplayName hasen't added a story yet.</p>
                                    }

                                    <hr />
 
                                    <div class="commentsContainer">
                                        <h5>@e.Comments.Comments.Count Comments</h5>

                                        <hr />

                                        <div class="writeComment">
                                            <div class="userPhoto hide-for-small">
                                                @if (!@e.PlayerImage.IsEmpty())
                                                {
                                                    <img src="@Url.Content(e.PlayerImage)" />
                                                }
                                                else
                                                {
                                                    <img src="@Url.Content("~/Content/Images/Jpp/defaultProfileAvatar.png")" />
                                                }
                                            </div>
                                            <div class="commentInput">
                                                <input type="text" id="Text1" placeholder="Write a comment..." />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                                <!-- End Feed Entry -->
                            </div>
	                    }

                    </div>

                </div>

            </div>

        </div>
            

        <div id="sidebar" class="large-4 columns">

            <h3>GAMEWIDE STATS</h3>

            <div class="statsGroup">
                <p>Points Create: @Model.Stats.PointsCreate</p>
	            <p>Points Explore: @Model.Stats.PointsExplore</p>
	            <p>Points Learn: @Model.Stats.PointsLearn</p>
	            <p>Points Socialize: @Model.Stats.PointsSocialize</p>
                <h4>@Model.Stats.TotalPlayers <span>players</span></h4>
                <h4>@Model.Stats.TotalQuests <span>Quests</span></h4>
                <h4>@Model.Stats.TotalAchievements <span>Achievements</span></h4>
            </div>

            <br />
            <br />

            @if( WebSecurity.IsAuthenticated )
            {
                <h3>YOUR STATS</h3>
                <div class="statsGroup">
                    <p>My Points Create: @Model.MyProfile.PointsCreate</p>
		            <p>My Points Explore: @Model.MyProfile.PointsExplore</p>
		            <p>My Points Learn: @Model.MyProfile.PointsLearn</p>
		            <p>My Points Socialize: @Model.MyProfile.PointsSocialize</p>
                    <h4>@Model.MyProfile.Friends.People.Count <span>friends</span></h4>
                    <h4>@Model.MyProfile.Quests.Quests.Count <span>Quests</span></h4>
                    <h4>@Model.MyProfile.Achievements.Achievements.Count <span>Achievements</span></h4>
                </div>
            }
                
            <br />
            <br />

            <footer>

                <p id="footerNav"><a href="#">Terms of Use</a> | <a href="#">About</a> | <a href="#">Credits</a> | <a href="#">Contact</a></p>

                <ul id="footerImages" class="small-block-grid-3">
                    <li><a href="#"><img src="images/footer/magic.png" /></a></li>
                    <li><a href="#"><img src="images/footer/microsoft.gif" /></a></li>
                    <li><a href="#"><img src="images/footer/rit.gif" /></a></li>
                </ul>

            </footer>

        </div> <!-- END lowerBodySidebar -->

            

    </div>

    <div class="row">
        <div class="large-8 columns">
            <div class="timelineFeed">
                <div class="endOfFeed">
                    <h6>End of feed</h6>
                </div>
            </div>
        </div>
    </div>
</div>


<!--

<h2>Timeline</h2>

<p>Site Stats:</p>
<ul>
    <li>Points Create: @Model.Stats.PointsCreate</li>
	<li>Points Explore: @Model.Stats.PointsExplore</li>
	<li>Points Learn: @Model.Stats.PointsLearn</li>
	<li>Points Socialize: @Model.Stats.PointsSocialize</li>
	<li>Players: @Model.Stats.TotalPlayers</li>
	<li>Achievements: @Model.Stats.TotalAchievements</li>
	<li>Quests: @Model.Stats.TotalQuests</li>
</ul>

@if( WebSecurity.IsAuthenticated )
{
	<p>Your Stats:</p>
	<ul>
		<li>My Points Create: @Model.MyProfile.PointsCreate</li>
		<li>My Points Explore: @Model.MyProfile.PointsExplore</li>
		<li>My Points Learn: @Model.MyProfile.PointsLearn</li>
		<li>My Points Socialize: @Model.MyProfile.PointsSocialize</li>
		<li>My Achievements: @Model.MyProfile.Achievements.Achievements.Count</li>
		<li>My Quests: @Model.MyProfile.Quests.Quests.Count</li>
		<li>My Friends: @Model.MyProfile.Friends.People.Count</li>
	</ul>
	
	<p>Your Timeline</p>
	<ul>
		@foreach (JustPressPlay.ViewModels.EarningsViewModel.Earning e in Model.MyProfile.Earnings.Earnings)
		{
			<li>
				Achievement Earning!
				<ul>
					<li>@e.DisplayName</li>
					<li>@if(!String.IsNullOrWhiteSpace(e.PlayerImage)){<img src="@Url.Content(e.PlayerImage)" />}</li>
					<li>@e.EarnedDate</li>
					<li>@e.Achievement.Title</li>
					<li>Story Photo: @if(!String.IsNullOrWhiteSpace(e.StoryPhoto)) {<img src="@Url.Content(e.StoryPhoto)" />}</li>
					<li>Story Text: @e.StoryText</li>
					<li>Comment Count: @e.Comments.Comments.Count</li>
				</ul>
			</li>
		}
	</ul>
}

<p>Public Timeline:</p>
<ul>
	@foreach (JustPressPlay.ViewModels.EarningsViewModel.Earning e in Model.OtherEarnings.Earnings)
	{
		<li>
			Achievement Earning!
			<ul>
				<li>@e.DisplayName</li>
				<li>@if(!String.IsNullOrWhiteSpace(e.PlayerImage)){<img src="@Url.Content(e.PlayerImage)" />}</li>
				<li>@e.EarnedDate</li>
				<li>@e.Achievement.Title</li>
				<li>Story Photo: @if(!String.IsNullOrWhiteSpace(e.StoryPhoto)) {<img src="@Url.Content(e.StoryPhoto)" />}</li>
				<li>Story Text: @e.StoryText</li>
				<li>Comment Count: @e.Comments.Comments.Count</li>
			</ul>
		</li>
	}
</ul>

-->