@{
    ViewBag.Title = "Home Page";
}

@model JustPressPlay.ViewModels.TimelineViewModel

<div id="headerSection" class="homeNews activeNews">
    <div class="row">

        <div class="large-12 columns">
            <button id="showNewsButton" class="secondary small radius right">SHOW/HIDE</button>
            <h1><a href="#">JPP V3 - THE FUTURE IS NOW</a></h1>
        </div>

        <!--
        <div class="large-4 columns">
            <div class="coloredTitle hide-for-small">
                <h1>JUST</h1>
                <h2>Press</h2>
                <h3>Play</h3>
            </div>
                
        </div>
        -->

    </div>
    <div class="row">
        <div class="large-4 columns">
            <p><img src="images/igmlab.jpg" style="width: 100%;" /></p>
        </div>
        <div class="large-8 columns">

            <p>This is the sample text for a news story. Here players will be informed about what's happening in the game. Information about quest and achievement avalibility will be posted in this very space. Right here. And any version updates will also likely be posted here. Like for instance this really nice version we are currently building. Ain't it purrdy? Filler filler filler, whoop whoop whoop.</p>
            <p class="right"><a href="#">Read more...</a></p>

        </div>



    </div>
</div>

<h2>Timeline</h2>

<p>Site Stats:</p>
<ul>
    <li>Points Create: @Model.Stats.PointsCreate</li>
	<li>Points Explore: @Model.Stats.PointsExplore</li>
	<li>Points Learn: @Model.Stats.PointsLearn</li>
	<li>Points Socialize: @Model.Stats.PointsSocialize</li>
	<li>Players: @Model.Stats.TotalPlayers</li>
	<li>Achievements: @Model.Stats.TotalAchievements</li>
	<li>Quests: @Model.Stats.TotalQuests</li>
</ul>

@if( WebSecurity.IsAuthenticated )
{
	<p>Your Stats:</p>
	<ul>
		<li>My Points Create: @Model.MyProfile.PointsCreate</li>
		<li>My Points Explore: @Model.MyProfile.PointsExplore</li>
		<li>My Points Learn: @Model.MyProfile.PointsLearn</li>
		<li>My Points Socialize: @Model.MyProfile.PointsSocialize</li>
		<li>My Achievements: @Model.MyProfile.Achievements.Achievements.Count</li>
		<li>My Quests: @Model.MyProfile.Quests.Quests.Count</li>
		<li>My Friends: @Model.MyProfile.Friends.People.Count</li>
	</ul>
	
	<p>Your Timeline</p>
	<ul>
		@foreach (JustPressPlay.ViewModels.EarningsViewModel.Earning e in Model.MyProfile.Earnings.Earnings)
		{
			<li>
				Achievement Earning!
				<ul>
					<li>@e.DisplayName</li>
					<li>@if(!String.IsNullOrWhiteSpace(e.PlayerImage)){<img src="@Url.Content(e.PlayerImage)" />}</li>
					<li>@e.EarnedDate</li>
					<li>@e.Achievement.Title</li>
					<li>Story Photo: @if(!String.IsNullOrWhiteSpace(e.StoryPhoto)) {<img src="@Url.Content(e.StoryPhoto)" />}</li>
					<li>Story Text: @e.StoryText</li>
					<li>Comment Count: @e.Comments.Comments.Count</li>
				</ul>
			</li>
		}
	</ul>
}

<p>Public Timeline:</p>
<ul>
	@foreach (JustPressPlay.ViewModels.EarningsViewModel.Earning e in Model.OtherEarnings.Earnings)
	{
		<li>
			Achievement Earning!
			<ul>
				<li>@e.DisplayName</li>
				<li>@if(!String.IsNullOrWhiteSpace(e.PlayerImage)){<img src="@Url.Content(e.PlayerImage)" />}</li>
				<li>@e.EarnedDate</li>
				<li>@e.Achievement.Title</li>
				<li>Story Photo: @if(!String.IsNullOrWhiteSpace(e.StoryPhoto)) {<img src="@Url.Content(e.StoryPhoto)" />}</li>
				<li>Story Text: @e.StoryText</li>
				<li>Comment Count: @e.Comments.Comments.Count</li>
			</ul>
		</li>
	}
</ul>
