@{
    ViewBag.Title = "Home Page";
}

@model JustPressPlay.ViewModels.HomeViewModel


@{
    List<JustPressPlay.Utilities.JPPNewsFeed> newsList = new JustPressPlay.Utilities.JPPNewsFeed().Populate();
    
    if( newsList.Count() > 0 )
    {
        <div id="headerSection" class="homeNews activeNews">
            <div class="row">
                <div class="large-12 columns">
                    <ul data-orbit>
                        @foreach( var post in newsList )
                        {
                            <li>
                                <div class="row">
                                    <div class="large-4 columns">
                                        <img src="@Url.Content(post.Icon)" />
                                    </div>
                                    <div class="large-8 columns">
                                        @if( post.Controller.Equals( "News" ) )
                                        {
                                            <h2>@post.Title</h2>
                                        }
                                        else
                                        {
                                            <h2>@Html.ActionLink( post.Title, post.Action, post.Controller, new { id = post.ID }, null )</h2>
                                        }
                                        <p>@post.Text</p>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
}

<div id="lowerBody">

    <div class="row">

        <div class="large-8 columns">

            <h3>RECENT ACTIVITY</h3>

            <div class="row">

                <div class="large-12 columns">

                    <div class="earningFeed">
                        <ul class="large-block-grid-2 small-block-grid-1" data-bind="template: { name: 'earning-wide-template', foreach: earnings }">
                        </ul>

                        <div class="bottom">
                            <div class="spinner" data-bind="visible: isLoading"></div>
                            <div class="endOfFeed" data-bind="visible: atEnd">
                                <h6>End of Feed</h6>
                            </div>
                            <div data-bind="visible: isEmpty">
                                <p>There's nothing here!</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
            

        <div id="sidebar" class="large-4 columns">

            <h3>GAMEWIDE STATS</h3>

            <div class="statsGroup">
                <div id="gamewideStatsQuad"></div>

                <h4>@Model.GameStats.TotalPlayers           @if (@Model.GameStats.TotalPlayers == 1)
                                                            { <span>player</span> }
                                                            else
                                                            { <span>players</span> }</h4>
                <h4>@Model.GameStats.TotalQuests            @if (@Model.GameStats.TotalQuests == 1)
                                                            { <span>quest</span> }
                                                            else
                                                            { <span>quests</span> }</h4>
                <h4>@Model.GameStats.TotalAchievements      @if (@Model.GameStats.TotalAchievements == 1)
                                                            { <span>achievement</span> }
                                                            else
                                                            { <span>achievements</span> }</h4>
            </div>

            @if (WebSecurity.IsAuthenticated)
            {
                <h3>YOUR STATS</h3>
                <div class="statsGroup">
                    <div id="yourStatsQuad"></div>
                    
                    <h4>@Model.MyStats.TotalPlayers						  @if (@Model.MyStats.TotalPlayers == 1)
                                                           { <span>friend</span> }
                                                           else
                                                           { <span>friends</span> }</h4>
                    <h4>@Model.MyStats.TotalQuests		                @if (@Model.MyStats.TotalQuests == 1)
                                                                    { <span>quest</span> }
                                                                    else
                                                                    { <span>quests</span> }</h4>
                    <h4>@Model.MyStats.TotalAchievements			    @if (@Model.MyStats.TotalAchievements == 1)
                                                               { <span>achievement</span> }
                                                               else
                                                               { <span>achievements</span> }</h4>
                </div>
            }
                

            <footer class="small">

                @{ Html.RenderPartial("_Footer"); }

            </footer>

        </div> <!-- END lowerBodySidebar -->

            

    </div>

</div>

<script src="@Url.Content("~/Content/js/plugin/jquery.jppquad.js")" type="text/javascript"></script>
@{ Html.RenderPartial("_EarningList"); }
<script>

    var settings = {
        //playerID: null
    };
    ko.applyBindings(new EarningListViewModel(settings));

    $(document).ready(function () {
        $('#gamewideStatsQuad').jppquad({
            thresholds: {
                0: 25,
                1: 50,
                2: 75
            },
            maxThreshold: 100,
            createPoints: '@Model.GameStats.PointsCreate',
            learnPoints: '@Model.GameStats.PointsLearn',
            explorePoints: '@Model.GameStats.PointsExplore',
            socializePoints: '@Model.GameStats.PointsSocialize'
        });

        var url = '@Request.Url.GetLeftPart(UriPartial.Authority)';

        /*
        $('#timelineFeed').jpptimeline({
            baseURL: url,
            userID: null,
            dynamicUser: false,
            scrollBuffer: 400
        });
        */
    });
</script>

@if (WebSecurity.IsAuthenticated)
{
    <script>
        $(document).ready(function () {
            $('#yourStatsQuad').jppquad({
                thresholds: {
                    0: 25,
                    1: 50,
                    2: 75
                },
                maxThreshold: 100,
                createPoints: '@Model.MyStats.PointsCreate',
                learnPoints: '@Model.MyStats.PointsLearn',
                explorePoints: '@Model.MyStats.PointsExplore',
                socializePoints: '@Model.MyStats.PointsSocialize'
            });
        });
    </script>
}