@{
    ViewBag.Title = "Home Page";
}

@model JustPressPlay.ViewModels.HomeViewModel


<!--
<div id="headerSection" class="homeNews activeNews">
    <div class="row">

        <div class="large-12 columns">
            <button id="showNewsButton" class="secondary small radius right">SHOW/HIDE</button>
            <h1><a href="#">JPP V3 - NOW WITH 73% MORE CSS</a></h1>
        </div>

        <!--
        <div class="large-4 columns">
            <div class="coloredTitle hide-for-small">
                <h1>JUST</h1>
                <h2>Press</h2>
                <h3>Play</h3>
            </div>
                
        </div>
        

    </div>
    <div class="row">
        <div class="large-4 columns">
            <p><img src="images/igmlab.jpg" style="width: 100%;" /></p>
        </div>
        <div class="large-8 columns">

            <p>This is the sample text for a news story. Here players will be informed about what's happening in the game. Information about quest and achievement avalibility will be posted in this very space. Right here. And any version updates will also likely be posted here. Like for instance this really nice version we are currently building. Ain't it purrdy? Filler filler filler, whoop whoop whoop.</p>
            <p class="right"><a href="#">Read more...</a></p>

        </div>



    </div>
</div>
-->

<div id="headerSection" class="homeNews activeNews">

    <div class="row">

        <div class="large-12 columns">
            <ul data-orbit>
                <li>
                    <div class="row">
                        <div class="large-4 columns">
                            <img src="http://placehold.it/500x300" />
                        </div>
                        <div class="large-8 columns">
                            <h2><a href="#">JPPV3 - NOW WITH 74% MORE CSS</a></h2>
                            <p>This is the sample text for a news story. Here players will be informed about what's happening in the game. Information about quest and achievement avalibility will be posted in this very space. Right here. And any version updates will also likely be posted here. Like for instance this really nice version we are currently building. Ain't it purrdy? Filler filler filler, whoop whoop whoop.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="large-4 columns">
                            <img src="http://placehold.it/500x300" />
                        </div>
                        <div class="large-8 columns">
                            <h2><a href="#">ACHERVEMERTS</a></h2>
                            <p>This is the sample text for a news story. Here players will be informed about what's happening in the game. Information about quest and achievement avalibility will be posted in this very space. Right here. And any version updates will also likely be posted here. Like for instance this really nice version we are currently building. Ain't it purrdy? Filler filler filler, whoop whoop whoop.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="large-4 columns">
                            <img src="http://placehold.it/500x300" />
                        </div>
                        <div class="large-8 columns">
                            <h2><a href="#">QUERSTS</a></h2>
                            <p>This is the sample text for a news story. Here players will be informed about what's happening in the game. Information about quest and achievement avalibility will be posted in this very space. Right here. And any version updates will also likely be posted here. Like for instance this really nice version we are currently building. Ain't it purrdy? Filler filler filler, whoop whoop whoop.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        

    </div>

</div>

<div id="lowerBody">

    <div class="row">

        <div class="large-8 columns">

            <h3>RECENT ACTIVITY</h3>

            <div class="row">

                @if (WebSecurity.IsAuthenticated)
                {
                
                    <div class="large-6 columns">

                        <div class="timelineFeed">

                            <!--<p>Your Timeline</p>-->

                           
 
                        </div>

                    </div>
                }


                <div class="
                    @if (WebSecurity.IsAuthenticated) 
                    { 
                        @: large-6
                    }
                    else 
                    { 
                        @: large-12
                    } 
                columns">

                    <div class="timelineFeed">

                        <!--<p>Public Timeline</p>-->

                       

                    </div>

                </div>

            </div>

        </div>
            

        <div id="sidebar" class="large-4 columns">

            <h3>GAMEWIDE STATS</h3>

            <div class="statsGroup">
                <div id="gamewideStatsQuad"></div>

                <h4>@Model.GameStats.TotalPlayers           @if (@Model.GameStats.TotalPlayers == 1) { <span>player</span> }
                                                        else { <span>players</span> }</h4>
                <h4>@Model.GameStats.TotalQuests            @if (@Model.GameStats.TotalQuests == 1) { <span>quest</span> }
                                                        else { <span>quests</span> }</h4>
                <h4>@Model.GameStats.TotalAchievements      @if (@Model.GameStats.TotalAchievements == 1) { <span>achievement</span> }
                                                        else { <span>achievements</span> }</h4>
            </div>

            @if( WebSecurity.IsAuthenticated )
            {
                <h3>YOUR STATS</h3>
                <div class="statsGroup">
                    <div id="yourStatsQuad"></div>
                    
                    <h4>@Model.MyStats.TotalPlayers						  @if (@Model.MyStats.TotalPlayers == 1) { <span>friend</span> }
                                                                            else { <span>friends</span> }</h4>
                    <h4>@Model.MyStats.TotalQuests		                @if (@Model.MyStats.TotalQuests == 1) { <span>quest</span> }
                                                                            else { <span>quests</span> }</h4>
                    <h4>@Model.MyStats.TotalAchievements			    @if (@Model.MyStats.TotalAchievements == 1) { <span>achievement</span> }
                                                                            else { <span>achievements</span> }</h4>
                </div>
            }
                

            <footer class="small">

                @{ Html.RenderPartial("_Footer"); }

            </footer>

        </div> <!-- END lowerBodySidebar -->

            

    </div>

    <div class="row">
        <div class="large-8 columns">
            <div class="timelineFeed">
                <div class="endOfFeed">
                    <h6>End of feed</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Content/js/plugin/jquery.jppquad.js")" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('#gamewideStatsQuad').jppquad({
            thresholds: {
                0: 25,
                1: 50,
                2: 75
            },
            maxThreshold: 100,
            createPoints: '@Model.GameStats.PointsCreate',
            learnPoints: '@Model.GameStats.PointsLearn',
            explorePoints: '@Model.GameStats.PointsExplore',
            socializePoints: '@Model.GameStats.PointsSocialize'
        });
    });
</script>

@if( WebSecurity.IsAuthenticated )
{
    <script>
        $(document).ready(function () {
            $('#yourStatsQuad').jppquad({
                thresholds: {
                    0: 25,
                    1: 50,
                    2: 75
                },
                maxThreshold: 100,
                createPoints: '@Model.MyStats.PointsCreate',
                learnPoints: '@Model.MyStats.PointsLearn',
                explorePoints: '@Model.MyStats.PointsExplore',
                socializePoints: '@Model.MyStats.PointsSocialize'
            });
        });
    </script>
}