@model JustPressPlay.ViewModels.ManageSiteSettingsViewModel

@{
    ViewBag.Title = "InitializeSiteSettings";
}

<h2>InitializeSiteSettings</h2>
 <div class="panel">
                <h2>ManageSiteSettings</h2>
            </div>

            <div class="panel">
                @using (Html.BeginForm()) {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()

                    <fieldset>
                        <legend>ManageSiteSettingsViewModel</legend>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.NavBarColor)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.NavBarColor)
                            @Html.ValidationMessageFor(model => model.NavBarColor)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.CreateColor)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.CreateColor)
                            @Html.ValidationMessageFor(model => model.CreateColor)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.ExploreColor)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.ExploreColor)
                            @Html.ValidationMessageFor(model => model.ExploreColor)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.LearnColor)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.LearnColor)
                            @Html.ValidationMessageFor(model => model.LearnColor)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.SocializeColor)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.SocializeColor)
                            @Html.ValidationMessageFor(model => model.SocializeColor)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.QuestColor)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.QuestColor)
                            @Html.ValidationMessageFor(model => model.QuestColor)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.OrganizationName)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.OrganizationName)
                            @Html.ValidationMessageFor(model => model.OrganizationName)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(m => m.SiteLogo)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.SiteLogo, new { type = "file"})
                            @Html.ValidationMessageFor(m => m.SiteLogo)
                        </div>


                        <div class="editor-label">
                            @Html.LabelFor(model => model.EnableCardDistribution)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.EnableCardDistribution)
                            @Html.ValidationMessageFor(model => model.EnableCardDistribution)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.AllowSelfRegistration)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.AllowSelfRegistration)
                            @Html.ValidationMessageFor(model => model.AllowSelfRegistration)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.AllowUserGeneratedQuests)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.AllowUserGeneratedQuests)
                            @Html.ValidationMessageFor(model => model.AllowUserGeneratedQuests)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.AllowComments)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.AllowComments)
                            @Html.ValidationMessageFor(model => model.AllowComments)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.EnableFacebookIntegration)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.EnableFacebookIntegration)
                            @Html.ValidationMessageFor(model => model.EnableFacebookIntegration)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.FacebookAppId)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.FacebookAppId)
                            @Html.ValidationMessageFor(model => model.FacebookAppId)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.FacebookAppSecret)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.FacebookAppSecret)
                            @Html.ValidationMessageFor(model => model.FacebookAppSecret)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.FacebookAppNamespace)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.FacebookAppNamespace)
                            @Html.ValidationMessageFor(model => model.FacebookAppNamespace)
                        </div>

                        <p>
                            <input type="submit" value="Save" />
                        </p>
                    </fieldset>
                }
            </div>